openapi: 3.0.0
info:
  title: Customer API (current)
  version: v0
security:
  - newStoreAccessToken: []
servers:
  - url: https://dodici.x.newstore.net/v0/c
paths:
  /categories:
    get:
      responses:
        '200':
          description: >-
            Array of top-level categories, including their children up to the
            requested level.
          content:
            application/json:
              schema:
                type: array
                title: Categories Response
                description: Get list of top-level categories
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Category name.
                    path:
                      type: array
                      description: >-
                        category path beginning from root category, array sorted
                        in correct order.
                      items:
                        type: string
                    keywords:
                      type: array
                      description: keywords describing this category.
                      items:
                        type: string
                    images:
                      type: array
                      items:
                        type: object
                        title: Category Image
                        description: Information about a category image.
                        properties:
                          url:
                            description: Category image url.
                            type: string
                            format: uri
                          title:
                            description: Category image title.
                            type: string
                          identifier:
                            type: string
                            description: Category image identifier (e.g. image-top-1).
                          is_main:
                            type: boolean
                            description: >-
                              Flag to identify the main image (for displaying
                              purposes).
                          alt_text:
                            description: The alt tag value for the image.
                            type: string
                          dominant_color:
                            type: string
                          width:
                            type: number
                            multipleOf: 1
                          height:
                            type: number
                            multipleOf: 1
                          aspect_ratio:
                            type: number
                            multipleOf: 0.0001
                          tags:
                            description: tenant specific tags for images e.g. is_main, ...
                            type: array
                            items:
                              type: string
                    position:
                      type: integer
                      description: >-
                        position of this category in relation to categories on
                        the same level in the category tree.
                    description:
                      type: string
                      description: description of this category, e.g. for meta tags.
                    extended_attributes:
                      description: >-
                        A collection of key/values for custom diversification of
                        the category.
                      type: array
                      items:
                        type: object
                        required:
                          - name
                          - value
                        properties:
                          name:
                            type: string
                          value:
                            type: string
                    google_category:
                      type: string
                      description: >-
                        The corresponding google category (numeric id), see
                        http://www.google.com/basepages/producttype/taxonomy-with-ids.en-US.txt.
                    children:
                      description: Nested list of subcategories up to specified level.
                      type: array
                      items:
                        description: A child category, same layout as parent category.
                        type: object
                        properties:
                          name:
                            type: string
                            description: Category name.
                          path:
                            type: array
                            description: >-
                              category path beginning from root category, array
                              sorted in correct order.
                            items:
                              type: string
                          keywords:
                            type: array
                            description: keywords describing this category.
                            items:
                              type: string
                          images:
                            type: array
                            items:
                              type: object
                              title: Category Image
                              description: Information about a category image.
                              properties:
                                url:
                                  description: Category image url.
                                  type: string
                                  format: uri
                                title:
                                  description: Category image title.
                                  type: string
                                identifier:
                                  type: string
                                  description: >-
                                    Category image identifier (e.g.
                                    image-top-1).
                                is_main:
                                  type: boolean
                                  description: >-
                                    Flag to identify the main image (for
                                    displaying purposes).
                                alt_text:
                                  description: The alt tag value for the image.
                                  type: string
                                dominant_color:
                                  type: string
                                width:
                                  type: number
                                  multipleOf: 1
                                height:
                                  type: number
                                  multipleOf: 1
                                aspect_ratio:
                                  type: number
                                  multipleOf: 0.0001
                                tags:
                                  description: >-
                                    tenant specific tags for images e.g.
                                    is_main, ...
                                  type: array
                                  items:
                                    type: string
                          position:
                            type: integer
                            description: >-
                              position of this category in relation to
                              categories on the same level in the category tree.
                          description:
                            type: string
                            description: description of this category, e.g. for meta tags.
                          extended_attributes:
                            description: >-
                              A collection of key/values for custom
                              diversification of the category.
                            type: array
                            items:
                              type: object
                              required:
                                - name
                                - value
                              properties:
                                name:
                                  type: string
                                value:
                                  type: string
                          google_category:
                            type: string
                            description: >-
                              The corresponding google category (numeric id),
                              see
                              http://www.google.com/basepages/producttype/taxonomy-with-ids.en-US.txt.
                          children:
                            description: >-
                              Nested list of subcategories up to specified
                              level.
                            type: array
                            items:
                              type: object
              example:
                application/json:
                  - name: Shoes
                    path:
                      - Shoes
                    description: Shoe category
                    position: 1
                    images:
                      - url: >-
                          https://example.com/tenant/102291/categories/shoes_01.jpg
                        identifier: a5di5p34i2drwl
                        is_main: true
                      - url: >-
                          https://example.com/tenant/102291/categories/shoes_02.jpg
                        identifier: t3412423wien
                        is_main: false
                      - url: >-
                          https://example.com/tenant/102291/categories/shoes_03.jpg
                        identifier: ahsitn9353628
                        is_main: false
                    extended_attribute:
                      - name: my_property
                        value: my_value
                  - name: Necklaces
                    path:
                      - necklaces
                      - accessories > necklaces
                    description: Necklace category
                    position: 2
                    images:
                      - url: >-
                          https://example.com/tenant/102291/categories/necklaces.jpg
                        title: necklaces
                        identifier: tahst39y523
                        is_main: true
        '206':
          description: |
            Same as 200 but indicating that the result set is not complete.
            This happens if there were more than 2000 categories found.
          content:
            application/json:
              schema:
                type: array
                title: Categories Response
                description: Get list of top-level categories
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Category name.
                    path:
                      type: array
                      description: >-
                        category path beginning from root category, array sorted
                        in correct order.
                      items:
                        type: string
                    keywords:
                      type: array
                      description: keywords describing this category.
                      items:
                        type: string
                    images:
                      type: array
                      items:
                        type: object
                        title: Category Image
                        description: Information about a category image.
                        properties:
                          url:
                            description: Category image url.
                            type: string
                            format: uri
                          title:
                            description: Category image title.
                            type: string
                          identifier:
                            type: string
                            description: Category image identifier (e.g. image-top-1).
                          is_main:
                            type: boolean
                            description: >-
                              Flag to identify the main image (for displaying
                              purposes).
                          alt_text:
                            description: The alt tag value for the image.
                            type: string
                          dominant_color:
                            type: string
                          width:
                            type: number
                            multipleOf: 1
                          height:
                            type: number
                            multipleOf: 1
                          aspect_ratio:
                            type: number
                            multipleOf: 0.0001
                          tags:
                            description: tenant specific tags for images e.g. is_main, ...
                            type: array
                            items:
                              type: string
                    position:
                      type: integer
                      description: >-
                        position of this category in relation to categories on
                        the same level in the category tree.
                    description:
                      type: string
                      description: description of this category, e.g. for meta tags.
                    extended_attributes:
                      description: >-
                        A collection of key/values for custom diversification of
                        the category.
                      type: array
                      items:
                        type: object
                        required:
                          - name
                          - value
                        properties:
                          name:
                            type: string
                          value:
                            type: string
                    google_category:
                      type: string
                      description: >-
                        The corresponding google category (numeric id), see
                        http://www.google.com/basepages/producttype/taxonomy-with-ids.en-US.txt.
                    children:
                      description: Nested list of subcategories up to specified level.
                      type: array
                      items:
                        description: A child category, same layout as parent category.
                        type: object
                        properties:
                          name:
                            type: string
                            description: Category name.
                          path:
                            type: array
                            description: >-
                              category path beginning from root category, array
                              sorted in correct order.
                            items:
                              type: string
                          keywords:
                            type: array
                            description: keywords describing this category.
                            items:
                              type: string
                          images:
                            type: array
                            items:
                              type: object
                              title: Category Image
                              description: Information about a category image.
                              properties:
                                url:
                                  description: Category image url.
                                  type: string
                                  format: uri
                                title:
                                  description: Category image title.
                                  type: string
                                identifier:
                                  type: string
                                  description: >-
                                    Category image identifier (e.g.
                                    image-top-1).
                                is_main:
                                  type: boolean
                                  description: >-
                                    Flag to identify the main image (for
                                    displaying purposes).
                                alt_text:
                                  description: The alt tag value for the image.
                                  type: string
                                dominant_color:
                                  type: string
                                width:
                                  type: number
                                  multipleOf: 1
                                height:
                                  type: number
                                  multipleOf: 1
                                aspect_ratio:
                                  type: number
                                  multipleOf: 0.0001
                                tags:
                                  description: >-
                                    tenant specific tags for images e.g.
                                    is_main, ...
                                  type: array
                                  items:
                                    type: string
                          position:
                            type: integer
                            description: >-
                              position of this category in relation to
                              categories on the same level in the category tree.
                          description:
                            type: string
                            description: description of this category, e.g. for meta tags.
                          extended_attributes:
                            description: >-
                              A collection of key/values for custom
                              diversification of the category.
                            type: array
                            items:
                              type: object
                              required:
                                - name
                                - value
                              properties:
                                name:
                                  type: string
                                value:
                                  type: string
                          google_category:
                            type: string
                            description: >-
                              The corresponding google category (numeric id),
                              see
                              http://www.google.com/basepages/producttype/taxonomy-with-ids.en-US.txt.
                          children:
                            description: >-
                              Nested list of subcategories up to specified
                              level.
                            type: array
                            items:
                              type: object
        '400':
          description: Invalid request
        '404':
          description: Not found
        '500':
          description: Internal server error
      summary: List categories
      description: >
        Retrieves all top-level categories. A product category is product
        attribute that organizes

        products in a hierarchy. For example, a pair of trousers could belong to
        the following

        categories: `Men’s Clothing > Pants > Chinos`
      operationId: listCategories
      parameters:
        - name: depth
          in: query
          description: >-
            Specifies the depth of child categories to retrieve. When omitted,
            all categories are returned.
          schema:
            type: integer
        - name: locale
          in: query
          required: true
          description: >-
            A locale code. Can be used to fetch product information in different
            languages.
          schema:
            type: string
        - name: catalog
          in: query
          description: >-
            DEPRECATED. Use `shop` instead. The identifier of the product
            catalog.
          schema:
            type: string
        - name: shop
          in: query
          required: true
          description: The identifier of the shop the product belongs to.
          schema:
            type: string
  /consumers/{id}/orders:
    get:
      responses:
        '200':
          description: >-
            A collection of orders placed by the customer, in the order they
            were placed, newest order first.
          content:
            application/json:
              schema:
                type: object
                title: Consumer Orders List Response
                description: A paginated list of consumer orders
                required:
                  - pagination_info
                  - items
                allOf:
                  - type: object
                    description: Contains default fields for paginatable APIs.
                    properties:
                      pagination_info:
                        type: object
                        required:
                          - count
                          - total
                          - offset
                          - prev_url
                          - next_url
                        properties:
                          count:
                            description: Contains the count of the contained array.
                            type: integer
                          total:
                            description: >-
                              Contains the total count of documents. Will be
                              null if the API is not able to determin a total
                              count.
                            type: integer
                            nullable: true
                          offset:
                            description: Contains the current offset.
                            type: integer
                          prev_url:
                            description: >-
                              An URI that can be used to get the previous page.
                              Will be null if the current page is the first
                              page.
                            type: string
                            nullable: true
                            format: uri
                          next_url:
                            description: >-
                              An URI that can be used to get the next page. Will
                              be null if the current page is the last page.
                            type: string
                            nullable: true
                            format: uri
                  - properties:
                      items:
                        type: array
                        items:
                          title: ConsumerOrder
                          type: object
                          required:
                            - order_uuid
                            - customer_uuid
                          properties:
                            order_uuid:
                              description: UUID of the Order (an SO uuid).
                              type: string
                              maxLength: 36
                              minLength: 36
                            order_id:
                              description: Human readable order ID.
                              type: string
                              maxLength: 256
                            channel:
                              description: >-
                                Specific identifier of the channel the
                                SalesOrder was placed in, e.g. 'Giovanna Dodici
                                US'.
                              maxLength: 256
                              type: string
                            channel_type:
                              description: >-
                                Type of the channel the SalesOrder was placed
                                in, more general than channel, e.g. 'web' or
                                'mobile'.
                              type: string
                              maxLength: 256
                            external_order_id:
                              description: Order identifier used in external system.
                              type: string
                              maxLength: 256
                            customer_uuid:
                              description: UUID of the consumer who placed this Order.
                              type: string
                              maxLength: 36
                              minLength: 36
                            external_customer_id:
                              description: Consumer Identifier used in external system.
                              type: string
                              maxLength: 256
                            created_at:
                              description: the time when this row was created.
                              type: string
                              format: date-time
                            created_by_label:
                              type: string
                              description: >-
                                A string that shows the source the order comes
                                from, i.e. NewStore app/Demandware/Retail
                                Store/.
                            taxation:
                              type: string
                              enum:
                                - net
                                - gross
                            status_label:
                              type: string
                            status_description:
                              type: string
                            shipping_address:
                              type: object
                              title: Consumer address
                              properties:
                                id:
                                  type: string
                                title:
                                  description: e.g. Dr., Prof., Pres., ...
                                  type: string
                                suffix:
                                  description: e.g. Jr., Sr., III, ...
                                  type: string
                                salutation:
                                  description: e.g. Mr., Ms., Mrs., ...
                                  type: string
                                first_name:
                                  type: string
                                second_name:
                                  type: string
                                last_name:
                                  type: string
                                address_line_1:
                                  type: string
                                address_line_2:
                                  type: string
                                province:
                                  type: string
                                state:
                                  type: string
                                zip_code:
                                  type: string
                                city:
                                  type: string
                                country_code:
                                  description: >-
                                    Country code for this address. Must be <a
                                    href='http://www.iso.org/iso/country_codes.htm'>ISO-3166
                                    reference</a>.
                                  type: string
                                  enum:
                                    - AD
                                    - AE
                                    - AF
                                    - AG
                                    - AI
                                    - AL
                                    - AM
                                    - AO
                                    - AQ
                                    - AR
                                    - AS
                                    - AT
                                    - AU
                                    - AW
                                    - AX
                                    - AZ
                                    - BA
                                    - BB
                                    - BD
                                    - BE
                                    - BF
                                    - BG
                                    - BH
                                    - BI
                                    - BJ
                                    - BL
                                    - BM
                                    - BN
                                    - BO
                                    - BQ
                                    - BR
                                    - BS
                                    - BT
                                    - BV
                                    - BW
                                    - BY
                                    - BZ
                                    - CA
                                    - CC
                                    - CD
                                    - CF
                                    - CG
                                    - CH
                                    - CI
                                    - CK
                                    - CL
                                    - CM
                                    - CN
                                    - CO
                                    - CR
                                    - CU
                                    - CV
                                    - CW
                                    - CX
                                    - CY
                                    - CZ
                                    - DE
                                    - DJ
                                    - DK
                                    - DM
                                    - DO
                                    - DZ
                                    - EC
                                    - EE
                                    - EG
                                    - EH
                                    - ER
                                    - ES
                                    - ET
                                    - FI
                                    - FJ
                                    - FK
                                    - FM
                                    - FO
                                    - FR
                                    - GA
                                    - GB
                                    - GD
                                    - GE
                                    - GF
                                    - GG
                                    - GH
                                    - GI
                                    - GL
                                    - GM
                                    - GN
                                    - GP
                                    - GQ
                                    - GR
                                    - GS
                                    - GT
                                    - GU
                                    - GW
                                    - GY
                                    - HK
                                    - HM
                                    - HN
                                    - HR
                                    - HT
                                    - HU
                                    - ID
                                    - IE
                                    - IL
                                    - IM
                                    - IN
                                    - IO
                                    - IQ
                                    - IR
                                    - IS
                                    - IT
                                    - JE
                                    - JM
                                    - JO
                                    - JP
                                    - KE
                                    - KG
                                    - KH
                                    - KI
                                    - KM
                                    - KN
                                    - KP
                                    - KR
                                    - KW
                                    - KY
                                    - KZ
                                    - LA
                                    - LB
                                    - LC
                                    - LI
                                    - LK
                                    - LR
                                    - LS
                                    - LT
                                    - LU
                                    - LV
                                    - LY
                                    - MA
                                    - MC
                                    - MD
                                    - ME
                                    - MF
                                    - MG
                                    - MH
                                    - MK
                                    - ML
                                    - MM
                                    - MN
                                    - MO
                                    - MP
                                    - MQ
                                    - MR
                                    - MS
                                    - MT
                                    - MU
                                    - MV
                                    - MW
                                    - MX
                                    - MY
                                    - MZ
                                    - NA
                                    - NC
                                    - NE
                                    - NF
                                    - NG
                                    - NI
                                    - NL
                                    - 'NO'
                                    - NP
                                    - NR
                                    - NU
                                    - NZ
                                    - OM
                                    - PA
                                    - PE
                                    - PF
                                    - PG
                                    - PH
                                    - PK
                                    - PL
                                    - PM
                                    - PN
                                    - PR
                                    - PS
                                    - PT
                                    - PW
                                    - PY
                                    - QA
                                    - RE
                                    - RO
                                    - RS
                                    - RU
                                    - RW
                                    - SA
                                    - SB
                                    - SC
                                    - SD
                                    - SE
                                    - SG
                                    - SH
                                    - SI
                                    - SJ
                                    - SK
                                    - SL
                                    - SM
                                    - SN
                                    - SO
                                    - SR
                                    - SS
                                    - ST
                                    - SV
                                    - SX
                                    - SY
                                    - SZ
                                    - TC
                                    - TD
                                    - TF
                                    - TG
                                    - TH
                                    - TJ
                                    - TK
                                    - TL
                                    - TM
                                    - TN
                                    - TO
                                    - TR
                                    - TT
                                    - TV
                                    - TW
                                    - TZ
                                    - UA
                                    - UG
                                    - UM
                                    - US
                                    - UY
                                    - UZ
                                    - VA
                                    - VC
                                    - VE
                                    - VG
                                    - VI
                                    - VN
                                    - VU
                                    - WF
                                    - WS
                                    - YE
                                    - YT
                                    - ZA
                                    - ZM
                                    - ZW
                                phone:
                                  type: string
                            billing_address:
                              allOf:
                                - type: object
                                  title: Consumer address
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      description: e.g. Dr., Prof., Pres., ...
                                      type: string
                                    suffix:
                                      description: e.g. Jr., Sr., III, ...
                                      type: string
                                    salutation:
                                      description: e.g. Mr., Ms., Mrs., ...
                                      type: string
                                    first_name:
                                      type: string
                                    second_name:
                                      type: string
                                    last_name:
                                      type: string
                                    address_line_1:
                                      type: string
                                    address_line_2:
                                      type: string
                                    province:
                                      type: string
                                    state:
                                      type: string
                                    zip_code:
                                      type: string
                                    city:
                                      type: string
                                    country_code:
                                      description: >-
                                        Country code for this address. Must be
                                        <a
                                        href='http://www.iso.org/iso/country_codes.htm'>ISO-3166
                                        reference</a>.
                                      type: string
                                      enum:
                                        - AD
                                        - AE
                                        - AF
                                        - AG
                                        - AI
                                        - AL
                                        - AM
                                        - AO
                                        - AQ
                                        - AR
                                        - AS
                                        - AT
                                        - AU
                                        - AW
                                        - AX
                                        - AZ
                                        - BA
                                        - BB
                                        - BD
                                        - BE
                                        - BF
                                        - BG
                                        - BH
                                        - BI
                                        - BJ
                                        - BL
                                        - BM
                                        - BN
                                        - BO
                                        - BQ
                                        - BR
                                        - BS
                                        - BT
                                        - BV
                                        - BW
                                        - BY
                                        - BZ
                                        - CA
                                        - CC
                                        - CD
                                        - CF
                                        - CG
                                        - CH
                                        - CI
                                        - CK
                                        - CL
                                        - CM
                                        - CN
                                        - CO
                                        - CR
                                        - CU
                                        - CV
                                        - CW
                                        - CX
                                        - CY
                                        - CZ
                                        - DE
                                        - DJ
                                        - DK
                                        - DM
                                        - DO
                                        - DZ
                                        - EC
                                        - EE
                                        - EG
                                        - EH
                                        - ER
                                        - ES
                                        - ET
                                        - FI
                                        - FJ
                                        - FK
                                        - FM
                                        - FO
                                        - FR
                                        - GA
                                        - GB
                                        - GD
                                        - GE
                                        - GF
                                        - GG
                                        - GH
                                        - GI
                                        - GL
                                        - GM
                                        - GN
                                        - GP
                                        - GQ
                                        - GR
                                        - GS
                                        - GT
                                        - GU
                                        - GW
                                        - GY
                                        - HK
                                        - HM
                                        - HN
                                        - HR
                                        - HT
                                        - HU
                                        - ID
                                        - IE
                                        - IL
                                        - IM
                                        - IN
                                        - IO
                                        - IQ
                                        - IR
                                        - IS
                                        - IT
                                        - JE
                                        - JM
                                        - JO
                                        - JP
                                        - KE
                                        - KG
                                        - KH
                                        - KI
                                        - KM
                                        - KN
                                        - KP
                                        - KR
                                        - KW
                                        - KY
                                        - KZ
                                        - LA
                                        - LB
                                        - LC
                                        - LI
                                        - LK
                                        - LR
                                        - LS
                                        - LT
                                        - LU
                                        - LV
                                        - LY
                                        - MA
                                        - MC
                                        - MD
                                        - ME
                                        - MF
                                        - MG
                                        - MH
                                        - MK
                                        - ML
                                        - MM
                                        - MN
                                        - MO
                                        - MP
                                        - MQ
                                        - MR
                                        - MS
                                        - MT
                                        - MU
                                        - MV
                                        - MW
                                        - MX
                                        - MY
                                        - MZ
                                        - NA
                                        - NC
                                        - NE
                                        - NF
                                        - NG
                                        - NI
                                        - NL
                                        - 'NO'
                                        - NP
                                        - NR
                                        - NU
                                        - NZ
                                        - OM
                                        - PA
                                        - PE
                                        - PF
                                        - PG
                                        - PH
                                        - PK
                                        - PL
                                        - PM
                                        - PN
                                        - PR
                                        - PS
                                        - PT
                                        - PW
                                        - PY
                                        - QA
                                        - RE
                                        - RO
                                        - RS
                                        - RU
                                        - RW
                                        - SA
                                        - SB
                                        - SC
                                        - SD
                                        - SE
                                        - SG
                                        - SH
                                        - SI
                                        - SJ
                                        - SK
                                        - SL
                                        - SM
                                        - SN
                                        - SO
                                        - SR
                                        - SS
                                        - ST
                                        - SV
                                        - SX
                                        - SY
                                        - SZ
                                        - TC
                                        - TD
                                        - TF
                                        - TG
                                        - TH
                                        - TJ
                                        - TK
                                        - TL
                                        - TM
                                        - TN
                                        - TO
                                        - TR
                                        - TT
                                        - TV
                                        - TW
                                        - TZ
                                        - UA
                                        - UG
                                        - UM
                                        - US
                                        - UY
                                        - UZ
                                        - VA
                                        - VC
                                        - VE
                                        - VG
                                        - VI
                                        - VN
                                        - VU
                                        - WF
                                        - WS
                                        - YE
                                        - YT
                                        - ZA
                                        - ZM
                                        - ZW
                                    phone:
                                      type: string
                                - properties:
                                    email:
                                      type: string
                            payments:
                              type: array
                              items:
                                description: >-
                                  Contains the payment information.Can be used
                                  for multiple payments against multiple credit
                                  sources (i.e. store credit + CC).
                                type: object
                                properties:
                                  uuid:
                                    description: UUID of the Payment.
                                    type: string
                                    maxLength: 36
                                    minLength: 36
                                  currency:
                                    type: string
                                    maxLength: 3
                                    minLength: 3
                                  method:
                                    type: string
                                    description: >-
                                      The method consumer paid for the order.
                                      (Credit Card/PayPal/ApplePay).
                                  payment_detail:
                                    type: string
                                    description: >-
                                      The type of card was used: <VISA/MC/AMEX
                                      HERE>.
                                  credit_card_number:
                                    type: string
                                    description: Last 4 digits, if available.
                                    nullable: true
                                    minLength: 4
                                    maxLength: 4
                                  instrument_id:
                                    type: string
                                    description: >-
                                      The unique identifier of the financial
                                      instrument. Newstore owns this identifier.
                                  status_label:
                                    type: string
                                    description: >-
                                      The latest status that every of the LOs
                                      has been in. (e.g. 1 order --> split into
                                      2 LO. 1st LO in state `pending`, 2nd LO in
                                      `authorized` --> the value has to be
                                      `pending`.
                                  status_description:
                                    type: string
                                    description: >-
                                      The detailed description of the
                                      `status_label` field. (e.g. `Payment is
                                      pending against your credit card`).
                            totals:
                              type: object
                              properties:
                                merchandise_total:
                                  type: number
                                  description: >-
                                    sum of the products, so excluding shipping,
                                    handling, surcharges, etc.
                                shipping_total:
                                  type: number
                                  description: sum of all shipping costs.
                                shipping_taxes:
                                  type: number
                                  description: shipping taxes.
                                taxes:
                                  type: number
                                  description: Total taxes for the order.
                                order_total:
                                  type: number
                                  description: >-
                                    Total costs for the order w/o shipping
                                    costs. deprecated in favor of "grand_total"
                                    property.
                                gift_wrapping_taxes:
                                  description: Gift-wrapping taxes.
                                  type: number
                                gift_wrapping_total:
                                  description: Sum of all gift-wrapping costs.
                                  type: number
                                grand_total:
                                  type: number
                                  description: >-
                                    Total costs for the order w/o shipping
                                    costs.
                                currency:
                                  type: string
                                  minLength: 3
                                  maxLength: 3
                                  description: >-
                                    The currency this order was checked out
                                    with.
                            shipments:
                              type: array
                              items:
                                title: ConsumerOrder Product
                                type: object
                                properties:
                                  shipment_uuid:
                                    description: UUID of the shipment.
                                    type: string
                                    minLength: 36
                                    maxLength: 36
                                  shipping_from:
                                    description: >-
                                      Country code for this address. Must be <a
                                      href='http://www.iso.org/iso/country_codes.htm'>ISO-3166
                                      reference</a>.
                                    type: string
                                  links:
                                    type: object
                                    properties:
                                      return_label:
                                        type: string
                                        description: >-
                                          A permalink to the return label pdf.
                                          DEPRECATED!!! When you are looking for
                                          return documents look into
                                          shipment->details->shipping_packages
                                          please.
                                      invoice:
                                        type: string
                                        description: A permalink to an Invoice pdf.
                                      sales_receipt:
                                        type: string
                                        description: >-
                                          A Document which is created through an
                                          In-Store purchase.
                                  price:
                                    description: >-
                                      accumulated prices for the shipment
                                      products. deprecated in favor of "totals"
                                      property.
                                    type: object
                                    properties:
                                      net:
                                        type: number
                                      tax:
                                        type: number
                                      gross:
                                        type: number
                                      base:
                                        type: number
                                      adjustment:
                                        type: number
                                      adjusted_total:
                                        type: number
                                      currency:
                                        type: string
                                        minLength: 3
                                        maxLength: 3
                                        description: The currency of this item.
                                  totals:
                                    type: object
                                    properties:
                                      merchandise_total:
                                        type: number
                                        description: >-
                                          sum of the products, so excluding
                                          shipping, handling, surcharges, etc.
                                      shipping_total:
                                        type: number
                                        description: sum of all shipping costs.
                                      shipping_taxes:
                                        type: number
                                        description: shipping taxes.
                                      taxes:
                                        type: number
                                        description: Total taxes for the order.
                                      order_total:
                                        type: number
                                        description: >-
                                          Total costs for the order w/o shipping
                                          costs. deprecated in favor of
                                          "grand_total" property.
                                      gift_wrapping_taxes:
                                        description: Gift-wrapping taxes.
                                        type: number
                                      gift_wrapping_total:
                                        description: Sum of all gift-wrapping costs.
                                        type: number
                                      grand_total:
                                        type: number
                                        description: >-
                                          Total costs for the order w/o shipping
                                          costs.
                                      currency:
                                        type: string
                                        minLength: 3
                                        maxLength: 3
                                        description: >-
                                          The currency this order was checked out
                                          with.
                                  details:
                                    type: object
                                    properties:
                                      carrier:
                                        type: string
                                        description: >-
                                          The carrier identifier, for example
                                          FEDEX or DELIV. This property is only
                                          filled for in-store fulfilled orders.
                                          You can also find the carrier in the
                                          details of the package
                                          ('shipping_package').
                                      method:
                                        type: string
                                        description: ' the delivery method (e.g. Overnight Express).'
                                      delivery_forecast_at:
                                        type: string
                                        description: >-
                                          the approximated time when this
                                          shipments' delivery is planed.
                                        format: date-time
                                      delivery_status_label:
                                        enum:
                                          - Pending
                                          - Awaiting Pickup
                                          - Shipped
                                          - Delivered
                                          - Cancelled
                                        description: >-
                                          The label of the delivery status. This
                                          label displaying the details of a
                                          shipment. For DC orders, only the
                                          following labels are possible:
                                          'Pending', 'Shipped' and 'Cancelled'.
                                      delivery_status_id:
                                        description: >-
                                          The id of the order status. For DC
                                          orders, only the following ids are
                                          possible: 'pending', 'shipped' and
                                          'cancelled'.
                                        enum:
                                          - pending
                                          - awaiting_pickup
                                          - shipped
                                          - delivered
                                          - cancelled
                                      delivery_status_date:
                                        description: Last time StatusID was changed.
                                        type: string
                                        nullable: true
                                        format: date-time
                                      delivered_at:
                                        type: string
                                        nullable: true
                                        description: >-
                                          the time when this shipment was
                                          delivered.
                                        format: date-time
                                      shipping_packages:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            shipment_id:
                                              description: >-
                                                Identifier of the shipment object
                                                created by external carrier API.
                                              maxLength: 256
                                              type: string
                                            tracking_code:
                                              description: >-
                                                Tracking code received from external
                                                carrier API.
                                              maxLength: 256
                                              type: string
                                            carrier:
                                              description: >-
                                                The carrier identifier. For example
                                                FEDEX or DELIV.
                                              type: string
                                            tracking_url:
                                              description: Tracking url to track the package.
                                              maxLength: 256
                                              type: string
                                              format: uri
                                            delivery_from:
                                              type: string
                                              format: date-time
                                              description: >-
                                                Beginning of the time window for the
                                                delivery.
                                            delivery_to:
                                              type: string
                                              format: date-time
                                              description: End of the time window for the delivery.
                                            delivered_at:
                                              type: string
                                              format: date-time
                                              description: The time of the shipment delivery.
                                            product_ids:
                                              type: array
                                              items:
                                                type: string
                                                description: Id of product included in the package.
                                            links:
                                              type: object
                                              properties:
                                                return_label:
                                                  type: string
                                                  description: A permalink to the return label pdf.
                                                return_form:
                                                  type: string
                                                  description: A permalink to the return form pdf.
                                  items:
                                    type: array
                                    items:
                                      allOf:
                                        - type: object
                                          properties:
                                            id:
                                              type: string
                                              description: Identifier of the product.
                                            name:
                                              type: string
                                              description: Product name.
                                            image:
                                              type: string
                                              description: Link to the product image.
                                            price:
                                              allOf:
                                                - type: object
                                                  properties:
                                                    net:
                                                      type: number
                                                    tax:
                                                      type: number
                                                    gross:
                                                      type: number
                                                    base:
                                                      type: number
                                                    adjustment:
                                                      type: number
                                                    adjusted_total:
                                                      type: number
                                                    currency:
                                                      type: string
                                                      minLength: 3
                                                      maxLength: 3
                                                      description: The currency of this item.
                                                - properties:
                                                    catalog:
                                                      type: number
                                                      description: >-
                                                        Original price w/o discounts and for
                                                        quantity 1 as stored in the product
                                                        catalog. Value of this property could be
                                                        w/ or w/o tax depends on tenant price
                                                        catalog.
                                            category:
                                              type: string
                                              description: DEPRECATED.
                                            variation_color_value:
                                              type: string
                                            variation_size_value:
                                              type: string
                                            variation_attribute_1_value:
                                              type: string
                                              description: >-
                                                An additional variation selection, e.g.
                                                material
                                            variation_attribute_2_value:
                                              type: string
                                              description: >-
                                                An additional variation selection, e.g.
                                                material
                                            product_sku:
                                              type: string
                                              description: The sku of the product.
                                            extended_attributes:
                                              type: array
                                              items:
                                                type: object
                                                required:
                                                  - name
                                                  - value
                                                maxProperties: 2
                                                properties:
                                                  name:
                                                    description: The name of the attribute.
                                                    type: string
                                                  value:
                                                    description: The value of the attribute.
                                                    type: string
                                            custom_attributes:
                                              description: >-
                                                DEPRECATED. Use extended_attributes
                                                instead.
                                              type: array
                                              items:
                                                type: object
                                                required:
                                                  - name
                                                  - value
                                                maxProperties: 2
                                                properties:
                                                  name:
                                                    description: The name of the attribute.
                                                    type: string
                                                  value:
                                                    description: The value of the attribute.
                                                    type: string
                                            discounts:
                                              description: >-
                                                Information about discounts applied to
                                                the item.
                                              type: array
                                              items:
                                                title: Discount
                                                type: object
                                                description: >-
                                                  Information about discounts applied to
                                                  the item.
                                                required:
                                                  - promotion_uuid
                                                  - price_adjustment
                                                  - action
                                                  - value
                                                  - level
                                                properties:
                                                  promotion_uuid:
                                                    description: >-
                                                      ID of the discount rule that was
                                                      applied. If no discount rule was applied
                                                      (e.g. manual price adjustment), the
                                                      value is a generated ID.
                                                    type: string
                                                    maxLength: 36
                                                    minLength: 36
                                                  price_adjustment:
                                                    description: >-
                                                      monetary amount that is subtracted from
                                                      item price.
                                                    type: number
                                                  reason:
                                                    description: >-
                                                      Description of the promotion that was
                                                      applied.
                                                    type: string
                                                    maxLength: 256
                                                  action:
                                                    description: Type of promotion (percent, fix).
                                                    type: string
                                                    enum:
                                                      - fixed
                                                      - percentage
                                                  value:
                                                    description: >-
                                                      Original discount value (percent or fix
                                                      amount).
                                                    type: number
                                                  level:
                                                    description: Discount level (item, order).
                                                    type: string
                                                    enum:
                                                      - item
                                                      - order
                                                      - shipping
                                                  coupon_code:
                                                    description: Coupon code used for discount.
                                                    type: string
                                                    nullable: true
                                                    maxLength: 256
                                                  external_ref:
                                                    description: >-
                                                      Reference to the discount in the
                                                      external system.
                                                    type: string
                                                    maxLength: 256
                                        - properties:
                                            quantity:
                                              type: integer
                                              minimum: 0
                                              description: Quantity of the product.
                                  products:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: string
                                          description: Identifier of the product.
                                        name:
                                          type: string
                                          description: Product name.
                                        image:
                                          type: string
                                          description: Link to the product image.
                                        price:
                                          allOf:
                                            - type: object
                                              properties:
                                                net:
                                                  type: number
                                                tax:
                                                  type: number
                                                gross:
                                                  type: number
                                                base:
                                                  type: number
                                                adjustment:
                                                  type: number
                                                adjusted_total:
                                                  type: number
                                                currency:
                                                  type: string
                                                  minLength: 3
                                                  maxLength: 3
                                                  description: The currency of this item.
                                            - properties:
                                                catalog:
                                                  type: number
                                                  description: >-
                                                    Original price w/o discounts and for
                                                    quantity 1 as stored in the product
                                                    catalog. Value of this property could be
                                                    w/ or w/o tax depends on tenant price
                                                    catalog.
                                        category:
                                          type: string
                                          description: DEPRECATED.
                                        variation_color_value:
                                          type: string
                                        variation_size_value:
                                          type: string
                                        variation_attribute_1_value:
                                          type: string
                                          description: >-
                                            An additional variation selection, e.g.
                                            material
                                        variation_attribute_2_value:
                                          type: string
                                          description: >-
                                            An additional variation selection, e.g.
                                            material
                                        product_sku:
                                          type: string
                                          description: The sku of the product.
                                        extended_attributes:
                                          type: array
                                          items:
                                            type: object
                                            required:
                                              - name
                                              - value
                                            maxProperties: 2
                                            properties:
                                              name:
                                                description: The name of the attribute.
                                                type: string
                                              value:
                                                description: The value of the attribute.
                                                type: string
                                        custom_attributes:
                                          description: >-
                                            DEPRECATED. Use extended_attributes
                                            instead.
                                          type: array
                                          items:
                                            type: object
                                            required:
                                              - name
                                              - value
                                            maxProperties: 2
                                            properties:
                                              name:
                                                description: The name of the attribute.
                                                type: string
                                              value:
                                                description: The value of the attribute.
                                                type: string
                                        discounts:
                                          description: >-
                                            Information about discounts applied to
                                            the item.
                                          type: array
                                          items:
                                            title: Discount
                                            type: object
                                            description: >-
                                              Information about discounts applied to
                                              the item.
                                            required:
                                              - promotion_uuid
                                              - price_adjustment
                                              - action
                                              - value
                                              - level
                                            properties:
                                              promotion_uuid:
                                                description: >-
                                                  ID of the discount rule that was
                                                  applied. If no discount rule was applied
                                                  (e.g. manual price adjustment), the
                                                  value is a generated ID.
                                                type: string
                                                maxLength: 36
                                                minLength: 36
                                              price_adjustment:
                                                description: >-
                                                  monetary amount that is subtracted from
                                                  item price.
                                                type: number
                                              reason:
                                                description: >-
                                                  Description of the promotion that was
                                                  applied.
                                                type: string
                                                maxLength: 256
                                              action:
                                                description: Type of promotion (percent, fix).
                                                type: string
                                                enum:
                                                  - fixed
                                                  - percentage
                                              value:
                                                description: >-
                                                  Original discount value (percent or fix
                                                  amount).
                                                type: number
                                              level:
                                                description: Discount level (item, order).
                                                type: string
                                                enum:
                                                  - item
                                                  - order
                                                  - shipping
                                              coupon_code:
                                                description: Coupon code used for discount.
                                                type: string
                                                nullable: true
                                                maxLength: 256
                                              external_ref:
                                                description: >-
                                                  Reference to the discount in the
                                                  external system.
                                                type: string
                                                maxLength: 256
                                  returns:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        return_id:
                                          type: string
                                        items:
                                          type: array
                                          items:
                                            type: object
                                            properties:
                                              product_id:
                                                type: string
                                              quantity:
                                                type: integer
                                              returned_at:
                                                description: time when return was done.
                                                type: string
                                                format: date-time
                                              return_code:
                                                description: >-
                                                  Return code related to the return
                                                  reason.
                                                type: integer
                                              return_reason:
                                                description: reason of the return.
                                                type: string
                                        refund_note:
                                          type: string
                                          description: A Permanent link to a RefundNote pdf.
                                  accounting_entity:
                                    description: Legal entity responsible for the shipment.
                                    type: object
                                    properties:
                                      id:
                                        description: internal identifier of the legal entity.
                                        type: string
                                      accounting_address:
                                        type: object
                                        title: Consumer address
                                        properties:
                                          id:
                                            type: string
                                          title:
                                            description: e.g. Dr., Prof., Pres., ...
                                            type: string
                                          suffix:
                                            description: e.g. Jr., Sr., III, ...
                                            type: string
                                          salutation:
                                            description: e.g. Mr., Ms., Mrs., ...
                                            type: string
                                          first_name:
                                            type: string
                                          second_name:
                                            type: string
                                          last_name:
                                            type: string
                                          address_line_1:
                                            type: string
                                          address_line_2:
                                            type: string
                                          province:
                                            type: string
                                          state:
                                            type: string
                                          zip_code:
                                            type: string
                                          city:
                                            type: string
                                          country_code:
                                            description: >-
                                              Country code for this address. Must be
                                              <a
                                              href='http://www.iso.org/iso/country_codes.htm'>ISO-3166
                                              reference</a>.
                                            type: string
                                            enum:
                                              - AD
                                              - AE
                                              - AF
                                              - AG
                                              - AI
                                              - AL
                                              - AM
                                              - AO
                                              - AQ
                                              - AR
                                              - AS
                                              - AT
                                              - AU
                                              - AW
                                              - AX
                                              - AZ
                                              - BA
                                              - BB
                                              - BD
                                              - BE
                                              - BF
                                              - BG
                                              - BH
                                              - BI
                                              - BJ
                                              - BL
                                              - BM
                                              - BN
                                              - BO
                                              - BQ
                                              - BR
                                              - BS
                                              - BT
                                              - BV
                                              - BW
                                              - BY
                                              - BZ
                                              - CA
                                              - CC
                                              - CD
                                              - CF
                                              - CG
                                              - CH
                                              - CI
                                              - CK
                                              - CL
                                              - CM
                                              - CN
                                              - CO
                                              - CR
                                              - CU
                                              - CV
[...]
