openapi: 3.0.0
info:
  title: Item Return API
  version: '0.2'
servers:
  - url: https://dodici.x.newstore.net/v1/d
paths:
  /orders/{order_id}/returns:
    post:
      summary: Create return
      security:
        - newStoreAccessToken: []
      responses:
        '201':
          description: The return was successfully created.
          content:
            application/json:
              schema:
                title: An item return
                type: object
                required:
                  - refunded_amount
                  - return_id
                  - return_items
                  - currency
                properties:
                  refunded_amount:
                    type: number
                    minimum: 0
                    description: The amount refunded to the customer.
                  total_refund_amount:
                    type: number
                    minimum: 0
                    description: The total refund amount related to this return.
                  return_id:
                    type: string
                    minLength: 36
                    maxLength: 36
                    description: The identifier of the newly created return.
                  currency:
                    type: string
                    minLength: 3
                    maxLength: 3
                    description: The currency of the return.
                  returned_from:
                    type: string
                    description: >-
                      The fulfillment_node_id or store_id of the location to
                      which the item was returned. It is the identifier provided
                      in the 'returned_from' field of the 'Create return'
                      request.
                  consumer_email:
                    type: string
                    description: >-
                      Contains the email address of the consumer who bought the
                      items.
                  consumer_uuid:
                    type: string
                    minLength: 1
                    description: Contains the identifier of the consumer profile.
                  return_items:
                    type: array
                    minItems: 1
                    items:
                      type: object
                      required:
                        - product_id
                      properties:
                        item_type:
                          type: string
                          description: >-
                            Type of the returned item. Can be product or
                            shipping.
                          enum:
                            - product
                            - shipping
                        product_id:
                          type: string
                          description: >-
                            The identifier of the returned product, for example
                            an SKU number.
                        product_name:
                          type: string
                          description: Name of the corresponding product.
                        price_catalog:
                          type: number
                          description: >-
                            Price of the item from the catalog before the
                            discounts.
                          minimum: 0
                        tax_class:
                          type: string
                          description: Tax class of the product.
                        tax_lines:
                          description: Describes the taxes applied to the item.
                          type: array
                          minItems: 0
                          maxItems: 100
                          items:
                            type: object
                            required:
                              - amount
                              - rate
                            properties:
                              amount:
                                type: number
                                description: The tax amount.
                                minimum: 0
                              rate:
                                type: number
                                description: >-
                                  The tax rate. Must be in form of ratio between
                                  0 and 1, not percentage.
                                minimum: 0
                              name:
                                type: string
                                description: A description of the tax type. Required.
                              country_code:
                                description: >-
                                  The code of the country of the tax in the ISO
                                  3166 ALPHA-2 format. For example, GB, DE or
                                  US.
                                type: string
                                maxLength: 2
                        item_condition:
                          type: string
                          description: >-
                            The condition of the item, checked during quality
                            inspection.
                        return_reason:
                          type: string
                          description: The reason why this item was returned.
                        return_code:
                          type: integer
                          nullable: true
                          description: The corresponding code of the return reason.
                        condition_code:
                          type: integer
                          nullable: true
                          description: The corresponding code of the item condition option.
                  extended_attributes:
                    type: array
                    maxItems: 100
                    description: >-
                      This is a list of read-only objects that can be used to
                      display additional information.
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          minLength: 1
                          maxLength: 100
                        value:
                          type: string
                          maxLength: 8192
                  is_historical:
                    type: boolean
                    description: >-
                      Set to true, if the return is historical, i.e. it was
                      processed by an external system.
                  is_tax_exempt:
                    type: boolean
                    description: If true, the return order is tax exempt.
              example:
                refunded_amount: 775.19
                return_id: 1fc4d366-40ca-4e36-b38f-66393bda517a
                returned_from: 27a39710-4b2d-43fd-b636-5f7aed3073a2
                currency: USD
                return_items:
                  - product_id: '1000031'
                  - product_id: '1000032'
        '400':
          description: The provided data is incorrect.
        '404':
          description: The order was not found or given product(s) is not a part of order.
        '409':
          description: >-
            Your return policy does not allow this return, or this return was
            already requested.
        '422':
          description: Validation of request payload failed.
        '500':
          description: Internal Server Error.
      description: >
        Initiates the return process for item(s) in an order.


        Imports a historical return into NewStore when `is_historical` is set to
        true.


        NewStore creates condition codes for your business.


        To retrieve the list of condition codes configured for your business,
        contact

        the support team.


        The refund amount is calculated by the platform, and *cannot* be
        provided in the payload:


        - NewStore calculates the refund amount for each returned order line
        considering any pre-existing appeasements.

        - If the config property ``refund_shipping_cost`` is set to ``True`` and
        all items in the
          order are returned, the amount refunded includes the sum of the item prices and the
          shipping costs.
        - If the config property ``refund_shipping_cost`` is not set, or set to
        ``False``,
          the sum of the item prices is refunded. Shipping costs are not included in this amount,
          and not refunded.
        - If the config property ``return_fee`` is set, the amount refunded will
        have the return fee deducted from it.

        - If the ``return_fee`` field is set in the return payload, the default
        tenant configuration ``return_fee`` is ignored.

        - If multiple items with same product ID are provided, the item with
        minimum amount left will be refunded first.
          Example:

          **Order**

          An order is placed with multiple items of the same product IDs but different amounts left to be refunded.
          | Product ID | Price paid | Remaining amount | Notes |
          |-|-|-|-|
          | Product 1 | $300 | $250 | $50 were appeased |
          | Product 1 | $300 | $275 | $25 were appeased |
          | Product 1 | $300 | $300 | No existing refunds |
          | Product 2 | $400 | $400 | No existing refunds |
          | **Total** | **$1300** | **$1225**

          **Return**

          A return is created for Product 1, Product 1 and Product 2.
          | Product ID | Refunded amount | Notes |
          |-|-|-|
          | Product 1 | $250 | Item with product ID **Product 1** and lowest price
          | Product 1 | $275 | Item with product ID **Product 1** and second lowest price
          | Product 2 | $400
          | **Total refund amount** | **$925** |
      operationId: CreateReturn
      requestBody:
        content:
          application/json:
            schema:
              description: Creates a return for the specified items.
              type: object
              required:
                - items
                - returned_from
              properties:
                is_historical:
                  type: boolean
                  description: >-
                    Set to true, if the return is historical, i.e. it was
                    processed by an external system.
                returned_at:
                  type: string
                  nullable: true
                  format: date-time
                  description: >-
                    The time when the item was returned. If this property is not
                    set in the request, it is set to the current time.
                returned_from:
                  type: string
                  minLength: 1
                  description: >-
                    The fulfillment_node_id of the location to which the item
                    was returned.
                return_fee:
                  type: number
                  minimum: 0
                  nullable: true
                  description: >-
                    The fee for the return. If this property is set, the tenant
                    configuration ``return_fee`` is ignored.
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - product_id
                    properties:
                      product_id:
                        type: string
                        minLength: 1
                        description: >-
                          The identifier of the returned product, for example an
                          SKU number.
                      return_reason:
                        type: string
                        nullable: true
                      return_code:
                        type: integer
                        nullable: true
                        description: The corresponding code of the return reason.
                      item_condition:
                        type: string
                        nullable: true
                      condition_code:
                        type: integer
                        nullable: true
                        description: The corresponding code of the item condition option.
                extended_attributes:
                  type: array
                  maxItems: 100
                  description: >-
                    This is a list of read-only objects that can be used to
                    display additional information.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        minLength: 1
                        maxLength: 100
                      value:
                        type: string
                        maxLength: 8192
            examples:
              item_return:
                summary: Regular return.
                value:
                  items:
                    - product_id: '1000031'
                      return_reason: Wrong size
                      return_code: 1
                      item_condition: Resell
                      condition_code: 1
                    - product_id: '1000032'
                  returned_from: 27a39710-4b2d-43fd-b636-5f7aed3073a2
              historical_return:
                summary: Historical return.
                value:
                  items:
                    - product_id: '841725195271'
                      return_reason: Damaged
                      return_code: 1
                      item_condition: Scrap
                      condition_code: 2
                  returned_from: 7c9f2605-9fb3-5444-8fee-47fe51608efe
                  returned_at: '2018-09-28T14:30:06.000Z'
                  is_historical: true
              return_fee_override:
                summary: Return fee override.
                value:
                  items:
                    - product_id: '1000031'
                      return_reason: Wrong size
                      return_code: 1
                      item_condition: Resell
                      condition_code: 1
                    - product_id: '1000032'
                  returned_from: 27a39710-4b2d-43fd-b636-5f7aed3073a2
                  return_fee: 10
        required: true
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
        description: |
          The identifier for the order.
components:
  schemas: {}
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes:
    newStoreAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
  links: {}
  callbacks: {}
