swagger: '2.0'
host: push.highstreetapp-services.com
basePath: /
schemes:
  - https
info:
  version: 0.1.0
  title: Push Notifications API
  description: >
    ### General

    All requests must be made over https. The base url is

    `https://push.highstreetapp-services.com/` Your merchant id will be provided
    to you by Highstreet. NOTE that the merchant ID is unique per environment


    ### Authentication


    All requests are protected by basic auth. You will be supplied with a user
    name and password by

    Highstreet. If needed you can request this by contacting
    support@highstreetmobile.com


    ### Testing

    When testing it's important to not send requests to the production
    environment as this can result in notifications being sent to real users.
    Your production merchant id will look something like `brand` whereas the
    merchant ID of the staging environment will look something like
    `brand-staging`. Also it's important to realise that if an email address is
    not specified in the request that a request will be sent out to all users
    that match the specified locale(s).


    ### Localisation


    Locales are identified using language tags as defined by

    [IETF BCP 47](https://tools.ietf.org/html/bcp47). Countries are identified
    by two character

    country codes as defined by

    [ISO 3166-1 Alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). A
    locale can also be

    referred to as a storefront. An example of a valid locale is `nl-NL`.


    ### Dates and Time


    Dates and times follow the [ISO 8601
    standard](https://en.wikipedia.org/wiki/ISO_8601).
tags:
  - name: Notification
    description: >
      Personalized notifications can be sent to individual customers.


      * Customers are identified by their e-mail address.

      * Notifications can be cancelled if they have not already been sent.


      *The notification endpoints are provided by Highstreet.*


      ### Authentication


      HTTP Basic Authentication is used for authentication. The credentials will
      be provided by

      Highstreet.


      ### Images


      A notification *may* have two attached images:


      * A thumbnail image; shown on the lock screen (pictured below left). The
      minimum image size for
        the thumbnail is 160x160 pixels with an aspect ratio of 1:1.
      * A larger image shown when the details of the notification are opened
      (pictured below right).
        The minimum image size for the bigger image is 1120x680 pixels with an aspect ratio of 16:9.
        On IOS a user can view the larger image by pressing or swiping left on the notification.

      ![lockscreen](http://apidoc.highstreetapp.com/lockscreen.png)

      ![rich preview](http://apidoc.highstreetapp.com/rich_preview.png)


      ### Deeplinks


      A Notification will link to a specified location within the app. The
      current valid locations are

      `vouchers`, `cart`, `products`, `categories`, `lookbooks`,
      `content_extension`, `orders` and `home`. A valid id of the linked

      resource also needs to be supplied unless specifying `home`, `vouchers` or
      `cart`.
parameters:
  locale:
    name: locale
    description: >
      A language tag as defined in [IETF BCP
      47](https://tools.ietf.org/html/bcp47) (e.g. `en-US`).
    in: query
    type: string
    required: true
  api_version:
    name: api_version
    description: |
      The api version to use
    in: path
    type: string
    required: true
  merchant_id:
    name: merchant_id
    description: >
      Your unique merchant id with Highstreet Mobile. Make sure to use the
      staging merchant ID when testing
    in: path
    type: string
    required: true
  basic_auth:
    name: Authorization
    description: Basic Authentication credentials
    in: header
    type: string
    required: true
responses:
  basic_unauthorized:
    description: |
      Unauthorized

      * `unauthorized`: The Basic Authentication credentials are invalid.
    headers:
      WWW-Authenticate:
        description: Indicates the authentication scheme to use.
        type: string
        default: Basic realm="notifications"
    schema:
      $ref: '#/definitions/Error'
    examples:
      application/json:
        error:
          title: unauthorized
          status: 401
  notification_service_unavailable:
    description: |
      Service Unavailable

      * `unavailable`: The notification service is temporarily unavailable.
    headers:
      Retry-After:
        description: Suggested number of seconds before retrying.
        type: integer
    schema:
      $ref: '#/definitions/Error'
    examples:
      application/json:
        error:
          - code: unavailable
            message: service temporarily unavailable
paths:
  /{api_version}/{merchant_id}/notifications:
    post:
      summary: Send a notification
      description: >
        Sends a push notification to a specific customer. The customer is
        identified by their email

        address.


        * The customer's preferred locale is unknown to the loyalty platform.
        All locales have to
          be specified.
        * A List of IDs are returned. These represent the scheduled or sent
        notifications. These
          should be stored as they are needed to cancel a scheduled notification. *Note:* Most of the
          time only one notification will be sent. However there are some circumstances where the
          same user may have the app installed on multiple devices each in a different locale.
          Resulting in a separate notification being created for each locale.

        Example Curl Request:

          ```curl
            curl -X POST https://push.highstreetapp-services.com/v1/:MERCHANT_ID/notifications
            -H "Content-Type: application/json" \
            -u USERNAME:PASSWORD \
            -d '
            {
              "notifications": [
                {
                  "id": "699ead86-9f8a-4d07-9621-3f7f430c4960",
                  "email": "pete@highstreetapp.com",
                  "contents": [
                    {
                      "locale": "en-GB",
                      "title": "Personal Greeting Pete",
                      "body": "A personalized body for Pete",
                      "thumbnail": "https://images.unsplash.com/photo-1467810563316-b5476525c0f9?auto=format&fit=crop&w=1349&q=80",
                      "image": "https://images.unsplash.com/photo-1467810563316-b5476525c0f9?auto=format&fit=crop&w=1349&q=80"
                    },
                    {
                      "locale": "en-NL",
                      "title": "Title of your notification",
                      "body": "Body of your notification",
                      "thumbnail": "https://images.unsplash.com/photo-1467810563316-b5476525c0f9?auto=format&fit=crop&w=1349&q=80",
                      "image": "https://images.unsplash.com/photo-1467810563316-b5476525c0f9?auto=format&fit=crop&w=1349&q=80"
                    }
                  ],
                  "resource": {
                    "type": "cart"
                  },
                  "scheduling": {
                    "start": "2018-01-24T13:04:00Z"
                  }
                }
              ]
            }
            '
          ```
      tags:
        - Notification
      operationId: SendNotification
      parameters:
        - $ref: '#/parameters/merchant_id'
        - $ref: '#/parameters/api_version'
        - $ref: '#/parameters/basic_auth'
        - name: notification
          in: body
          schema:
            $ref: '#/definitions/Notifications'
          required: true
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '201':
          description: |
            Created

            * Notifcations were successfully created
          schema:
            $ref: '#/definitions/NotificationCreateResponse'
          examples:
            application/json:
              meta: {}
              data:
                unique_id_1: c050bda9-af94-441e-8096-7d5c51f1818d
                unique_id_2: lfahflsahlkfhjk9flhsalk0-lkalksfkl0j
        '400':
          description: |
            Bad Request

            * `invalid`: The request body is invalid.
          schema:
            $ref: '#/definitions/Error'
          examples:
            application/json:
              error:
                status: 400
                title: >-
                  Input is invalid, following errors found:

                  ,- notifications: notifications is required,- notificationsfs:
                  Additional property notificationsfs is not allowed
        '401':
          $ref: '#/responses/basic_unauthorized'
        '503':
          $ref: '#/responses/notification_service_unavailable'
definitions:
  NotificationCreateResponse:
    type: object
    properties:
      data:
        type: object
        description: a mapping of merchants supplied id to our stored id.
      meta:
        type: object
  Error:
    description: Error envelope
    type: object
    properties:
      error:
        description: List of error messages
        type: object
        properties:
          status:
            type: number
          title:
            type: string
  Notifications:
    type: object
    properties:
      notifications:
        type: array
        items:
          $ref: '#/definitions/Notification'
  Notification:
    description: A notification
    type: object
    properties:
      id:
        description: |
          A unique identifier for the notification in UUIDv4 format, used as an
          idempotency key.
        type: string
      email:
        description: >-
          E-mail address of the customer. *IMPORTANT* If the email address is
          empty or missing then the notification will get sent out to all users.
        type: string
        minLength: 1
      contents:
        description: The **localised** notification contents
        type: array
        items:
          $ref: '#/definitions/NotificationContent'
        minItems: 1
      resource:
        description: Description of the linked resource
        type: object
        properties:
          type:
            description: Resource type
            type: string
            enum:
              - vouchers
              - cart
              - products
              - categories
              - lookbooks
              - home
              - content_extension
              - orders
          id:
            description: Unique identifier of the resource
            type: string
          content_extension_params:
            required:
              - url
              - title
            description: Params for content_extension type resource
            type: object
            properties:
              url:
                description: URL of the content extension
                type: string
                format: uri
              title:
                description: Title of the content extension
                type: string
        required:
          - type
      scheduling:
        allOf:
          - description: >
              The time period the notification is relevant for.


              * Notifications will be sent to the customer at the `start` of the
              period.

              * The customer will be able to receive the notification until the
              `end` of the period.

              * When this property is omitted the notification is sent
              *immediately*.
          - $ref: '#/definitions/Period'
    example:
      email: amber@highstreetapp.com
      id: 4f3c2a8f-e084-4124-93ac-b6e3345fc5ae
      contents:
        - locale: en-US
          title: Happy Birthday Amber!
          body: We have a great birthday gift for you.
        - locale: nl-NL
          title: Van harte Amber!
          body: We hebben een verjaardagscadeauty voor je.
      resource:
        type: cart
      scheduling:
        start: '2017-03-12T14:00:00Z'
        end: '2017-03-13T14:00:00Z'
    required:
      - email
      - contents
      - resource
      - id
  NotificationContent:
    description: The **localised** content of a notification
    type: object
    properties:
      locale:
        description: >-
          A language tag as defined in [IETF BCP
          47](https://tools.ietf.org/html/bcp47).
        type: string
        example: en-US
      title:
        description: Title of the notification
        type: string
        minLength: 1
      body:
        description: Body of the notification
        type: string
        minLength: 1
      thumbnail:
        description: >
          URL to the thumbnail image. Thumbnails must have an aspect ratio of
          1:1 and have a minimum

          size of 160x160 pixels.
        type: string
        format: uri
      image:
        description: >
          URL to the bigger detail image. Detail images must have an aspect
          ratio 16:9 and have a

          minimum size of 1128x680 pixels.
        type: string
        format: uri
    required:
      - locale
      - title
      - body
  Period:
    description: A period of time.
    type: object
    properties:
      start:
        description: >
          An [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp
          marking the start of the

          period.
        type: string
        format: date-time
        minLength: 0
      end:
        description: >
          An [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp
          marking the end of the

          period. When omitted the period is assumed to last "forever".
        type: string
        format: date-time
        minLength: 0
    required:
      - start
    example:
      start: '2017-04-13T12:16:11Z'
      end: '2017-05-29T02:42:16Z'
