langchain==0.1.20
langchain-core==0.1.53
langchain-community==0.0.38
langchain-openai==0.1.7
openai==1.28.0
pydantic==2.7.4
pydantic-core==2.18.4
tiktoken==0.7.0
streamlit==1.35.0
python-dotenv==1.0.1
httpx==0.27.2