openapi: 3.0.0
info:
  title: Configuration API for the refund request service
  version: 0.1.0
  x-audience: external-public
  x-api-id: refund-request-config-062023
  description: >
    Configuration API to enable or disable order item refunds via NewStore
    Omnichannel Manager in

    your business.


    **Important**


    Please follow our [guide](/product/nomapp/nom-csr-orders#refunding) for
    enabling order item refunds.
  contact:
    name: team-order-management
    email: team-order-management@newstore.com
servers:
  - url: https://dodici.x.newstore.net/v0
security:
  - newStoreAccessToken: []
paths:
  /config/refund_request/use_line_level_appeasements:
    get:
      summary: Get config for order item refunds
      operationId: showUseLineLevelAppeasements
      responses:
        '200':
          description: |
            Successfully retrieved config.
          content:
            application/json:
              schema:
                title: >-
                  Request for getting feature toggle to use line level
                  appeasements
                description: Get feature toggle for using line level appeasements
                type: object
                required:
                  - value
                  - updated_at
                properties:
                  value:
                    description: >-
                      Determines whether a tenant uses the line level
                      appeasement feature.
                    type: boolean
                  updated_at:
                    type: string
                    description: >-
                      Contains datetime in ISO8601 UTC when config updated last
                      time. Can be null if config value wasn't set yet
              example:
                value: true
                updated_at: '2021-07-13T20:18:25Z'
        '404':
          description: >-
            Config key doesn't exist (it is not a case when key exists but just
            not set).
        '500':
          description: Internal server error.
          content:
            application/problem+json:
              schema:
                title: Internal error response while getting config
                type: object
                required:
                  - message
                  - request_id
                properties:
                  message:
                    type: string
                    description: A human readable description of the error
                  request_id:
                    type: string
        default:
          description: Unexpected Error
      description: >
        Retrieves the config for enabling or disabling refunds for individual
        items in an order,

        via NewStore Omnichannel Manager, for your business. For more
        information, see

        [Refunding orders](/product/nomapp/nom-csr-orders).


        If this config is disabled, you can only process refunds for a whole
        order and not specific

        items within an order.
    post:
      summary: Enable or disable order item refunds
      operationId: createUseLineLevelAppeasements
      requestBody:
        content:
          application/json:
            schema:
              title: >-
                Request for setting feature toggle to use line level
                appeasements
              description: Set feature toggle for using line level appeasements
              type: object
              required:
                - value
              properties:
                value:
                  type: boolean
            example:
              value: true
      responses:
        '200':
          description: Config was updated/created.
          content:
            application/json:
              example:
                value: true
                updated_at: '2021-07-13T20:18:25Z'
              schema:
                title: >-
                  Request for getting feature toggle to use line level
                  appeasements
                description: Get feature toggle for using line level appeasements
                type: object
                required:
                  - value
                  - updated_at
                properties:
                  value:
                    description: >-
                      Determines whether a tenant uses the line level
                      appeasement feature.
                    type: boolean
                  updated_at:
                    type: string
                    description: >-
                      Contains datetime in ISO8601 UTC when config updated last
                      time. Can be null if config value wasn't set yet
        '400':
          description: |
            Incorrect payload for config (validation failed).
          content:
            application/problem+json:
              schema:
                title: Config validation/parsing failed
                type: object
                required:
                  - messages
                  - request_id
                properties:
                  messages:
                    type: array
                    description: A list of validation errors
                    items:
                      type: string
                      description: >-
                        An validation/parsing error which explains why we can't
                        set this config
                  request_id:
                    type: string
        '409':
          description: |
            Cannot update the configuration due to a race condition.
        '500':
          description: |
            Internal server error.
          content:
            application/problem+json:
              schema:
                title: Internal error response while getting config
                type: object
                required:
                  - message
                  - request_id
                properties:
                  message:
                    type: string
                    description: A human readable description of the error
                  request_id:
                    type: string
        default:
          description: Unexpected Error
      description: >
        Enables individual items in an order to be refunded via NewStore
        Omnichannel Manager in

        your business. For more information, see [Refunding
        orders](/product/nomapp/nom-csr-orders).


        If this config is disabled, you can only process refunds for a whole
        order and not specific

        items within an order.
components:
  securitySchemes:
    newStoreAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
