openapi: 3.1.0
info:
  title: Order information retrieval API
  version: 0.1.0
  x-audience: external-public
  x-api-id: order-information-retrieval-062023
  description: >
    Use this API to retrieve information related to orders being processed in
    the NewStore platform

    or via an external order management system.
  contact:
    name: team-order-management
    email: team-order-management@newstore.com
tags:
  - name: Orders by ID and type
    description: >
      Use this resource to retrieve orders using the order ID and type of ID.

      Use type ``internal`` to retrieve orders by the system-generated UUID (by
      NewStore), and use type ``external``

      to retrieve orders by the human-readable identifier.


      **Note:** To receive the ``placed_at`` timestamp in UTC+0 in the format
      ``YYYY-MM-DDThh:mm:ss.sZ``, please provide the ``Accept`` 

      header ``application/x.newstore.orders+json;version=2``.
  - name: Order history for customers
    description: >
      Retrieve the order history for the customer identified by their ID
      (customer_id).

      If the tenant is configured to use Personally Identifiable Information
      (PII) in a data privacy compliant way,

      use the PII token for the customer ID. Otherwise, use the platform's
      internal identifier.


      The order list is sorted by the date the order was placed (placed_at),
      with the newest order appearing first.


      By default, the API responds with the ``application/json`` content type
      and only supports tenants that are integrated with an external Order
      Management System (OMS).


      To retrieve the order history regardless of whether the tenant is
      integrated with the NewStore OMS or an external OMS,

      include the Accept header ``application/x.newstore.orders+json;version=2``
      in your request.

      In this case, the server will respond with the
      ``application/x.newstore.orders+json;version=2`` content type and an
      updated API schema.
  - name: Manage orders
    description: >
      Use this resource to manage orders being processed in the NewStore
      platform or via an external

      order management system, and update related information for these orders.


      You can use this resource to list product or shipping prices, cancel an
      order or extend its

      [grace period](https://docs.newstore.com/docs/glossary#remorse-period),
      and add serial numbers or items in the order.
servers:
  - url: https://dodici.x.newstore.net/v0
security:
  - newStoreAccessToken: []
paths:
  /orders/{id}/prices:
    post:
      summary: List product or shipping prices
      operationId: createPriceInformationForItems
      requestBody:
        content:
          application/json:
            example:
              items:
                - type: product
                  id: 927c702a-3cb1-48c1-9189-554bf9d0fde7
                - type: shipping
                - type: gift-wrapping
            schema:
              $ref: '#/components/schemas/post_prices_request'
        required: true
      tags:
        - Manage orders
      responses:
        '200':
          description: Price information for the provided items.
          content:
            application/json:
              example:
                currency: USD
                items:
                  - type: product
                    id: 927c702a-3cb1-48c1-9189-554bf9d0fde7
                    price:
                      gross: 231.6
                      net: 211.5
                      tax: 20.1
                    status: in_fulfillment
                  - type: shipping
                    id: 7b1d4a63-c97f-4ca9-8771-9464c1d86fea
                    price:
                      gross: 23.65
                      net: 22
                      tax: 1.65
                  - type: gift-wrapping
                    id: 0612b770-8721-4c6c-bd68-ebded9bea3d7
                    price:
                      gross: 12.5
                      net: 10
                      tax: 2.65
              schema:
                $ref: '#/components/schemas/post_prices_response'
        '400':
          description: Bad Request Error.
          content:
            application/problem+json:
              example:
                error_code: bad_request
                message: The number of products can't exceed 500.
                request_id: ec2f3c9bb016ba971bf6074098363
              schema:
                $ref: '#/components/schemas/http_error_response'
        '404':
          description: Not found Error.
          content:
            application/problem+json:
              example:
                error_code: not_found
                message: >-
                  The order '57787cdb-3474-47b5-b3ec-7b776731309e' couldn't be
                  found.
                request_id: ec2f3c9bb016ba971bf6074098363
              schema:
                $ref: '#/components/schemas/http_error_response'
        '500':
          description: Internal Server Error.
          content:
            application/problem+json:
              example:
                error_code: internal_server_error
                message: Couldn't process request due to an internal error.
                request_id: ec2f3c9bb016ba971bf6074098363
              schema:
                $ref: '#/components/schemas/http_error_response'
        default:
          description: Unexpected Error
      description: >
        Use this method to retrieve price information for products or shipping
        options, defined

        in ``items`` in the request payload. The price information includes the
        gross price of the item,

        the net price, and the tax levied on the item.


        If the prices you requested are for products, the response payload also
        contains the status

        of the product. For example, ``cancelled`` or ``pending``, or
        ``in_fulfillment``, and so on.


        **Important**: You can only request for the pricing information of a
        maximum of **500**

        items, exceeding which the method returns a ``400`` error.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The identifier of the order.
  /orders/{id}:
    get:
      summary: Get order by ID and ID type
      operationId: showSalesOrderByIdAndIdType
      tags:
        - Orders by ID and type
      responses:
        '200':
          description: Successfully fetch order by ID and ID type
          content:
            application/json:
              examples:
                Sales Order By ID (origin NewStore):
                  value:
                    id: GD000001234
                    origin: newstore
                    origin_id: c2569449-1d0d-4ca5-8d00-d80c38d5efcb
                    channel_type: store
                    placed_at: '2021-11-22T12:51:39.30'
                    status: closed
                    currency: USD
                    fulfillment_type: in_store_purchase
                    store_id: NY5AVE
                    associate_id: b9a144c2-3bd2-4066-983e-b2f2aa0c21e3
                    is_offline: false
                    customer:
                      id: b65ad81a-5225-43de-9c45-cc41cddc3479
                      name: John Doe
                      email: john.doe@gmail.com
                      language: en
                    shipping_address:
                      title: Dr.
                      suffix: Sr.
                      salutation: Mr.
                      first_name: Jay
                      second_name: Joy
                      last_name: Doubleyou
                      phone: 202-555-0140
                      address_line_1: 601 South Street
                      address_line_2: ''
                      zip_code: '02111'
                      city: Boston
                      province: ''
                      state: Massachusetts
                      country_code: US
                      note: some note
                    billing_address:
                      title: Dr.
                      suffix: Sr.
                      salutation: Mr.
                      first_name: Jay
                      second_name: Joy
                      last_name: Doubleyou
                      phone: 202-555-0140
                      address_line_1: 601 South Street
                      address_line_2: ''
                      zip_code: '02111'
                      city: Boston
                      province: ''
                      state: Massachusetts
                      country_code: US
                      note: some note
                    items:
                      - id: b9a144c2-3bd2-4066-983e-b2f2aa0c23ee
                        origin_id: b9a144c2-3bd2-4066-983e-b2f2aa0c23ee
                        status: complete
                        fulfillment_group_type: IN_STORE_HANDOVER
                        shipping_method: in_store_handover
                        price_catalog: 72
                        price:
                          net: 72
                          tax: 7.2
                          gross: 79.2
                          discount: 8
                        tax_lines:
                          - amount: 6
                            rate: 8.33
                            name: MA State Tax
                            country_code: US
                          - amount: 1.2
                            rate: 1.67
                            name: Boston City Tax
                            country_code: US
                        product_attributes:
                          name: Kate Dress
                          size: M
                          color: red
                          image_url: https://image.com/dress.jpeg
                          additional_variant_1: Regular fit
                          additional_variant_2: Red with highlights
                        external_identifier:
                          sku: '1000012'
                          serial_number: '1234'
                          epc: '4567'
                        extended_attributes:
                          - name: colour
                            value: blue
                        discounts:
                          - level: item
                            value: 10
                            price_adjustment: 8
                            type: percentage
                            reason: some reason
                            coupon_code: COUPON_CODE
                            promotion_uuid: d9465c0d-f4c4-4770-b9c3-1ece85d3ad77
                    gift_wrapping:
                      message: |-
                        Congratulations!
                        John Doe
                      price:
                        net: 4.5
                        gross: 5
                        tax: 0.5
                        tax_code: CRM_114
                      tax_lines:
                        - amount: 0.5
                          rate: 0.1
                          name: MA State Tax
                          country_code: US
                    extended_attributes:
                      - name: colour
                        value: blue
                    shipments:
                      - id: 5bda7ef9-ea58-4f74-ba9f-b9a7ce5a924b
                        tax_lines:
                          - amount: 2.75
                          - rate: 0.183
                          - name: shipping taxes
                          - country_code: DE
                        price:
                          gross: 15
                          net: 12.25
                          tax: 2.75
                      - id: 123875b8-73d9-404f-84a8-c82772a9ae1a
                        price:
                          gross: 10
                          net: 8.5
                          tax: 1.5
                    totals:
                      net: 72
                      tax: 7.2
                      gross: 79.2
                      total: 109.2
                      shipping: 25
                      gift_wrapping: 5
                      discount: 8
                    tax_method: vat_included
                    tax_exempt: false
                    shop_locale: en-us
                Sales Order By ID (origin external OMS):
                  value:
                    id: GD000001234
                    origin: external
                    origin_id: GD000001234
                    channel_type: web
                    placed_at: '2021-11-22T12:51:39.30Z'
                    status: closed
                    currency: USD
                    fulfillment_type: in_store_purchase
                    associate_id: b9a144c2-3bd2-4066-983e-b2f2aa0c21e3
                    is_offline: false
                    customer:
                      id: b65ad81a-5225-43de-9c45-cc41cddc3479
                      name: John Doe
                      email: john.doe@gmail.com
                    shipping_address:
                      title: Dr.
                      suffix: Sr.
                      salutation: Mr.
                      first_name: Jay
                      second_name: Joy
                      last_name: Doubleyou
                      phone: 202-555-0140
                      address_line_1: 601 South Street
                      address_line_2: ''
                      zip_code: '02111'
                      city: Boston
                      province: ''
                      state: Massachusetts
                      country_code: US
                      note: some note
                    billing_address:
                      title: Dr.
                      suffix: Sr.
                      salutation: Mr.
                      first_name: Jay
                      second_name: Joy
                      last_name: Doubleyou
                      phone: 202-555-0140
                      address_line_1: 601 South Street
                      address_line_2: ''
                      zip_code: '02111'
                      city: Boston
                      province: ''
                      state: Massachusetts
                      country_code: US
                      note: some note
                    items:
                      - id: '394329361530903'
                        origin_id: '394329361530903'
                        status: complete
                        price:
                          net: 72
                          tax: 7.2
                          gross: 79.2
                          discount: 8
                        product_attributes:
                          name: Kate Dress
                          size: M
                          color: red
                          image_url: https://image.com/dress.jpeg
                          additional_variant_1: Regular fit
                          additional_variant_2: Red with highlights
                        external_identifier:
                          sku: '1000012'
                          serial_number: '1234'
                          epc: '4567'
                        discounts:
                          - level: item
                            value: 10
                            price_adjustment: 8
                            type: percentage
                    totals:
                      net: 72
                      tax: 7.2
                      gross: 79.2
                      total: 109.2
                      shipping: 25
                      discount: 8
                    payment_history:
                      - category: refund
                        amount: 77.58
                        currency: USD
                        method: cash
                      - category: payment
                        amount: 109.2
                        currency: USD
                        method: credit_card
                        payment_information: Visa (**** 1111)
                    shop_locale: en-us
                Sales Order By ID with tokenized PII:
                  value:
                    id: GD000001234
                    origin: newstore
                    origin_id: c2569449-1d0d-4ca5-8d00-d80c38d5efcb
                    channel_type: store
                    placed_at: '2021-11-22T12:51:39.30'
                    status: open
                    currency: USD
                    fulfillment_type: in_store_purchase
                    store_id: NY5AVE
                    associate_id: b9a144c2-3bd2-4066-983e-b2f2aa0c21e3
                    is_offline: false
                    customer:
                      id: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWPS
                      name: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWPQ
                      email: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWXS
                    shipping_address:
                      title: Dr.
                      suffix: Sr.
                      salutation: Mr.
                      first_name: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWPA
                      second_name: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWPB
                      last_name: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWPC
                      phone: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWXD
                      address_line_1: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWXE
                      address_line_2: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWXF
                      zip_code: '02111'
                      city: Boston
                      province: ''
                      state: Massachusetts
                      country_code: US
                      note: some note
                    billing_address:
                      title: Dr.
                      suffix: Sr.
                      salutation: Mr.
                      first_name: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWPA
                      second_name: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWPB
                      last_name: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWPC
                      phone: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWXD
                      address_line_1: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWXE
                      address_line_2: >-
                        NS-EU-01FXX4SPXKPQCEWZWERZS9D7582-01FXX4SWFJKK66QGEEWQ8TRWXF
                      zip_code: '02111'
                      city: Boston
                      province: ''
                      state: Massachusetts
                      country_code: US
                      note: some note
                    items:
                      - id: b9a144c2-3bd2-4066-983e-b2f2aa0c23ee
                        origin_id: b9a144c2-3bd2-4066-983e-b2f2aa0c23ee
                        status: pending
                        price:
                          net: 72
                          tax: 7.2
                          gross: 79.2
                          discount: 10
                        tax_lines:
                          - amount: 6
                            rate: 8.33
                            name: MA State Tax
                            country_code: US
                          - amount: 1.2
                            rate: 1.67
                            name: Boston City Tax
                            country_code: US
                        product_attributes:
                          name: Kate Dress
                          size: M
                          color: red
                          image_url: https://image.com/dress.jpeg
                          additional_variant_1: Regular fit
                          additional_variant_2: Red with highlights
                        external_identifier:
                          sku: '1000012'
                          serial_number: '1234'
                          epc: '4567'
                        extended_attributes:
                          - name: colour
                            value: blue
                        discounts:
                          - level: item
                            value: 10
                            price_adjustment: 8
                            type: percentage
                    gift_wrapping:
                      message: |-
                        Congratulations!
                        John Doe
                      price:
                        net: 4.5
                        gross: 5
                        tax: 0.5
                        tax_code: CRM_114
                    extended_attributes:
                      - name: colour
                        value: blue
                    totals:
                      net: 72
                      tax: 7.2
                      gross: 79.2
                      total: 84.2
                      shipping: 5
                      discount: 8
                    tax_method: vat_included
                    tax_exempt: false
                    payment_history:
                      - category: refund
                        amount: 77.58
                        currency: USD
                        method: cash
                      - category: payment
                        amount: 84.2
                        currency: USD
                        method: credit_card
                        payment_information: Visa (**** 1111)
              schema:
                $ref: '#/components/schemas/sales_order_by_id'
            application/x.newstore.orders+json;version=2:
              examples:
                Sales Order By ID:
                  value:
                    id: GD000001234
                    origin: newstore
                    origin_id: c2569449-1d0d-4ca5-8d00-d80c38d5efcb
                    channel_type: store
                    placed_at: '2021-11-22T12:51:39.30Z'
                    status: closed
                    currency: USD
                    fulfillment_type: in_store_purchase
                    store_id: NY5AVE
                    associate_id: b9a144c2-3bd2-4066-983e-b2f2aa0c21e3
                    is_offline: false
                    customer:
                      id: b65ad81a-5225-43de-9c45-cc41cddc3479
                      name: John Doe
                      email: john.doe@gmail.com
                      language: en
                    shipping_address:
                      title: Dr.
                      suffix: Sr.
                      salutation: Mr.
                      first_name: Jay
                      second_name: Joy
                      last_name: Doubleyou
                      phone: 202-555-0140
                      address_line_1: 601 South Street
                      address_line_2: ''
                      zip_code: '02111'
                      city: Boston
                      province: ''
                      state: Massachusetts
                      country_code: US
                      note: some note
                    billing_address:
                      title: Dr.
                      suffix: Sr.
                      salutation: Mr.
                      first_name: Jay
                      second_name: Joy
                      last_name: Doubleyou
                      phone: 202-555-0140
                      address_line_1: 601 South Street
                      address_line_2: ''
                      zip_code: '02111'
                      city: Boston
                      province: ''
                      state: Massachusetts
                      country_code: US
                      note: some note
                    items:
                      - id: b9a144c2-3bd2-4066-983e-b2f2aa0c23ee
                        origin_id: b9a144c2-3bd2-4066-983e-b2f2aa0c23ee
                        status: complete
                        fulfillment_group_type: IN_STORE_HANDOVER
                        shipping_method: in_store_handover
                        price_catalog: 72
                        price:
                          net: 72
                          tax: 7.2
                          gross: 79.2
                          discount: 8
                        tax_lines:
                          - amount: 6
                            rate: 8.33
                            name: MA State Tax
                            country_code: US
                          - amount: 1.2
                            rate: 1.67
                            name: Boston City Tax
                            country_code: US
                        product_attributes:
                          name: Kate Dress
                          size: M
                          color: red
                          image_url: https://image.com/dress.jpeg
                          additional_variant_1: Regular fit
                          additional_variant_2: Red with highlights
                        external_identifier:
                          sku: '1000012'
                          serial_number: '1234'
                          epc: '4567'
                        extended_attributes:
                          - name: colour
                            value: blue
                        discounts:
                          - level: item
                            value: 10
                            price_adjustment: 8
                            type: percentage
                            reason: some reason
                            coupon_code: COUPON_CODE
                            promotion_uuid: d9465c0d-f4c4-4770-b9c3-1ece85d3ad77
                    gift_wrapping:
                      message: |-
                        Congratulations!
                        John Doe
                      price:
                        net: 4.5
                        gross: 5
                        tax: 0.5
                        tax_code: CRM_114
                      tax_lines:
                        - amount: 0.5
                          rate: 0.1
                          name: MA State Tax
                          country_code: US
                    extended_attributes:
                      - name: colour
                        value: blue
                    shipments:
                      - id: 5bda7ef9-ea58-4f74-ba9f-b9a7ce5a924b
                        tax_lines:
                          - amount: 2.75
                          - rate: 0.183
                          - name: shipping taxes
                          - country_code: DE
                        price:
                          gross: 15
                          net: 12.25
                          tax: 2.75
                      - id: 123875b8-73d9-404f-84a8-c82772a9ae1a
                        price:
                          gross: 10
                          net: 8.5
                          tax: 1.5
                    totals:
                      net: 72
                      tax: 7.2
                      gross: 79.2
                      total: 109.2
                      shipping: 25
                      gift_wrapping: 5
                      discount: 8
                    tax_method: vat_included
                    tax_exempt: false
                    shop_locale: en-us
              schema:
                $ref: '#/components/schemas/sales_order_by_id'
        '400':
          description: Validation for the request failed
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/validation_error_4xx'
        '404':
          description: Order with provided ID and ID type was not found
        '409':
          description: External webhook payload validation failed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/validation_error_4xx'
              example:
                error_code: conflict
                message: >-
                  Failed JSON schema validation with schema /opt/schema.json.
                  Error: "orders" is a required attribute.
                request_id: ec2f3c9bb016ba971bf6074098363
        '412':
          description: Webhook configuration error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/validation_error_4xx'
              example:
                error_code: precondition_error
                message: API Key is required to access external OMS
                request_id: ec2f3c9bb016ba971bf6074098363
        '500':
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/config_error_5xx'
        '503':
          description: External Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/config_error_5xx'
              example:
                error_code: external_server_error
                message: API Key to the webhook is expired
                request_id: ec2f3c9bb016ba971bf6074098363
        default:
          description: Unexpected Error
      description: >
        Retrieves the specified order by order ID and ID type for the order.


        This method allows you to retrieve information about orders that were
        placed in the platform,

        as well as outside of the NewStore platform.


        **Note**: In case of ``internal`` id type the API will only return
        orders that exists in the NewStore database and will **NOT** call the
        external OMS webhook. Furthermore, the `payment_history` field will be
        empty in this case.

        In case of ``external`` id type this API will check if the external OMS
        webhook is configured. In this case the API will fetch the order data
        from the configured webhook. If no external OMS is configured then the
        order will be fetched from the NewStore database.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID of the order.
        - in: query
          name: id_type
          required: true
          schema:
            type: string
            x-extensible-enum:
              - external
              - internal
          description: >-
            ID type on which order should be fetched. Example "external" in case
            of human-readable identifier of the order, else "internal" in case
            of system-generated UUID (by NewStore).
        - in: header
          name: Accept
          schema:
            type: string
            x-extensible-enum:
              - application/json
              - application/x.newstore.orders+json;version=2
          description: >-
            Accepted values are ``application/json`` and
            ``application/x.newstore.orders+json;version=2``. When
            ``application/x.newstore.orders+json;version=2`` is provided, the
            ``placed_at`` timestamp is returned with UTC+0.
  /orders:
    get:
      summary: Retrieve order history for customers
      operationId: showOrderHistoryForCustomer
      tags:
        - Order history for customers
      parameters:
        - name: customer_id
          in: query
          description: NewStore's unique UUID or PII token identifier for the customer
          required: true
          style: form
          schema:
            type: string
        - name: offset
          in: query
          description: >-
            The offset to be used for the resulting order list. Will only be
            accepted when using the ``Accept`` header with
            ``application/x.newstore.orders+json;version=2``.
          style: form
          schema:
            minimum: 0
            type: integer
            format: int32
            default: 0
        - name: count
          in: query
          description: >-
            The number of requested orders. Will only be accepted when using the
            ``Accept`` header with
            ``application/x.newstore.orders+json;version=2``.
          style: form
          explode: true
          schema:
            maximum: 50
            minimum: 1
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          description: >
            Returns the list of orders. If the ``Accept`` headers with
            ``application/x.newstore.orders+json;version=2`` is used,

            it returns a paginated list as specified by the ``offset`` and
            ``count`` parameters.
          content:
            application/x.newstore.orders+json;version=2:
              schema:
                $ref: '#/components/schemas/order_history'
              examples:
                Order history for tenants using NewStore OMS:
                  value:
                    pagination_info:
                      count: 2
                      offset: 0
                      total: 110336
                    orders:
                      - id: OM-0000463985
                        origin: newstore
                        origin_id: 5f0d92e4-2c55-59ad-890f-0d01afb20165
                        channel:
                          id: shopify
                          type: web
                        placed_at: '2024-03-28T12:43:36.288000Z'
                        status: closed
                        currency: USD
                        fulfillment_type: traditional
                        items:
                          - id: c192d902-1e40-47f3-87d7-10b862c2d79b
                            status: complete
                            price:
                              gross: 9.13
                              net: 7
                              tax: 2.13
                              discount: 3
                            product_attributes:
                              name: Basic T-Shirt
                              size: S
                              color: grey
                              image_url: >-
                                https://res.cloudinary.com/newstore-staging/image/upload/v1630681649/s/team-order-management-load-test/95c51d61d939c8a00b567923801aa6b9.jpg
                            external_identifier:
                              sku: '10000100'
                              upc: '00000051'
                            product_id: '10000100'
                          - id: c81f8274-5654-41b2-9ab0-52ed0046a876
                            status: complete
                            price:
                              gross: 21.45
                              net: 20
                              tax: 1.45
                              discount: 0
                            product_attributes:
                              name: Basic T-Shirt
                              size: M
                              color: grey
                              image_url: >-
                                https://res.cloudinary.com/newstore-staging/image/upload/v1630681649/s/team-order-management-load-test/95c51d61d939c8a00b567923801aa6b9.jpg
                            external_identifier:
                              sku: '10000101'
                              upc: '00000052'
                            extended_attributes:
                              - name: final_sale
                                value: 'true'
                            product_id: '10000101'
                        tax_information:
                          method: vat_excluded
                          is_exempt: false
                        customer:
                          id: 2f980ec3-55d1-4b42-ba62-aa4af0231728
                          email: jane.doe@newstore.com
                        totals:
                          gross: 30.58
                          net: 27
                          tax: 3.58
                          total: 52.75
                          discount: 3
                          shipping: 20
                          gift_wrapping: 2.17
                        extended_attributes:
                          - name: shopify_id
                            value: '1234567'
                        shipping_address:
                          title: null
                          suffix: null
                          salutation: null
                          first_name: Jane
                          second_name: null
                          last_name: Doe
                          phone: 202-555-0140
                          address_line_1: 601 South Street
                          address_line_2: ''
                          zip_code: 2111
                          city: Boston
                          province: null
                          state: Massachusetts
                          country_code: US
                        shop:
                          id: storefront-catalog-en
                          locale: en-US
                        is_offline: false
                        is_historical: false
                      - id: OM-0000463982
                        origin: newstore
                        origin_id: 9aee16f8-278a-4921-9efe-386de3e699c3
                        channel:
                          id: US01
                          type: store
                        placed_at: '2024-03-27T21:14:33.644424Z'
                        status: closed
                        currency: USD
                        fulfillment_type: in_store_purchase
                        items:
                          - id: 8273700b-4cbc-4074-91ea-9ce2caa7ab7d
                            status: complete
                            price:
                              gross: 20
                              net: 18.18
                              tax: 1.82
                              discount: 0
                            product_attributes:
                              name: Basic T-Shirt
                              size: S
                              color: grey
                              image_url: >-
                                https://res.cloudinary.com/newstore-staging/image/upload/v1630681649/s/team-order-management-load-test/95c51d61d939c8a00b567923801aa6b9.jpg
                              additional_variant_1: slim fit
                              additional_variant_2: crew neck
                            external_identifier:
                              sku: '10000100'
                              upc: '00000051'
                            product_id: '10000100'
                          - id: c8acf7a7-f9aa-4892-8d63-d4a479c5ac72
                            status: complete
                            price:
                              gross: 20
                              net: 18.18
                              tax: 1.82
                              discount: 0
                            product_attributes:
                              name: Basic T-Shirt
                              size: S
                              color: grey
                              image_url: >-
                                https://res.cloudinary.com/newstore-staging/image/upload/v1630681649/s/team-order-management-load-test/95c51d61d939c8a00b567923801aa6b9.jpg
                            external_identifier:
                              sku: '10000100'
                              upc: '00000051'
                            product_id: '10000100'
                        tax_information:
                          method: vat_included
                          is_exempt: false
                        customer:
                          id: 6f94425d-ac7f-4bf6-a181-abd03922d0a5
                          email: john.doe@newstore.com
                        totals:
                          gross: 40
                          net: 36.36
                          tax: 3.64
                          total: 40
                          discount: 0
                          shipping: 0
                          gift_wrapping: 0
                        shipping_address:
                          title: null
                          suffix: null
                          salutation: null
                          first_name: John
                          second_name: null
                          last_name: Doe
                          phone: 202-555-0140
                          address_line_1: 601 South Street
                          address_line_2: ''
                          zip_code: 2111
                          city: Boston
                          province: null
                          state: Massachusetts
                          country_code: US
                        shop:
                          id: storefront-catalog-en
                          locale: en-US
                        is_offline: false
                        is_historical: false
                Order history for tenants using an external OMS:
                  value:
                    pagination_info:
                      count: 2
                      offset: 0
                      total: 110336
                    orders:
                      - id: OM-0000463985
                        origin: external
                        origin_id: OM-0000463985
                        channel:
                          type: web
                        placed_at: '2021-11-22T12:51:39.30Z'
                        status: open
                        currency: USD
                        fulfillment_type: traditional
                        items:
                          - id: c192d902-1e40-47f3-87d7-10b862c2d79b
                            status: in_fulfillment
                            price:
                              gross: 9.13
                              net: 7
                              tax: 2.13
                              discount: 3
                            product_attributes:
                              name: Basic T-Shirt
                              size: S
                              color: grey
                              image_url: >-
                                https://res.cloudinary.com/newstore-staging/image/upload/v1630681649/s/team-order-management-load-test/95c51d61d939c8a00b567923801aa6b9.jpg
                              additional_variant_1: slim fit
                              additional_variant_2: crew neck
                            external_identifier:
                              sku: '10000100'
                              upc: '00000051'
                            product_id: '10000100'
                          - id: c81f8274-5654-41b2-9ab0-52ed0046a876
                            status: closed
                            price:
                              gross: 21.45
                              net: 20
                              tax: 1.45
                              discount: 0
                            product_attributes:
                              name: Basic T-Shirt
                              size: M
                              color: grey
                              image_url: >-
                                https://res.cloudinary.com/newstore-staging/image/upload/v1630681649/s/team-order-management-load-test/95c51d61d939c8a00b567923801aa6b9.jpg
                            external_identifier:
                              sku: '10000101'
                              upc: '00000052'
                        customer:
                          id: 2f980ec3-55d1-4b42-ba62-aa4af0231728
                          email: jane.doe@newstore.com
                      - id: OM-0000463982
                        origin: newstore
                        origin_id: 9aee16f8-278a-4921-9efe-386de3e699c3
                        channel:
                          type: store
                        placed_at: '2024-03-27T21:14:33.644424Z'
                        status: closed
                        currency: USD
                        fulfillment_type: in_store_purchase
                        items:
                          - id: 8273700b-4cbc-4074-91ea-9ce2caa7ab7d
                            status: complete
                            price:
                              gross: 20
                              net: 18.18
                              tax: 1.82
                              discount: 0
                            product_attributes:
                              name: Basic T-Shirt
                              size: S
                              color: grey
                              image_url: >-
                                https://res.cloudinary.com/newstore-staging/image/upload/v1630681649/s/team-order-management-load-test/95c51d61d939c8a00b567923801aa6b9.jpg
                            external_identifier:
                              sku: '10000100'
                              upc: '00000051'
                          - id: c8acf7a7-f9aa-4892-8d63-d4a479c5ac72
                            status: complete
                            price:
                              gross: 20
                              net: 18.18
                              tax: 1.82
                              discount: 0
                            product_attributes:
                              name: Basic T-Shirt
                              size: S
                              color: grey
                              image_url: >-
                                https://res.cloudinary.com/newstore-staging/image/upload/v1630681649/s/team-order-management-load-test/95c51d61d939c8a00b567923801aa6b9.jpg
                            external_identifier:
                              sku: '10000100'
                              upc: '00000051'
                        customer:
                          id: 6f94425d-ac7f-4bf6-a181-abd03922d0a5
                          email: john.doe@newstore.com
            application/json:
              schema:
                $ref: '#/components/schemas/order_history-2'
              examples:
                Order history for tenants using NewStore OMS:
                  description: >-
                    If you wish to retrieve the purchase history for tenants
                    using NewStore OMS, please provide the ``Accept`` header
                    with ``application/x.newstore.orders+json;version=2``.
                  value:
                    orders: []
                Order history for tenants using an external OMS:
                  value:
                    orders:
                      - id: GD000001234
                        placed_at: '2021-11-22T12:51:39.30Z'
                        channel_type: web
                        origin: newstore
                        origin_id: 6f38b75f-3fb3-4454-975d-af0cb412f8fa
                        status: in_fulfillment
                        currency: USD
                        fulfillment_type: traditional
                        items:
                          - id: product-agd6f4
                            origin_id: b9a144c2-3bd2-4066-983e-b2f2aa0c23ee
                            status: in_fulfillment
                            price:
                              net: 80
                              tax: 8
                              gross: 88
                              discount: 0
                            product_attributes:
                              name: Kate Dress
                              size: M
                              color: red
                              image_url: https://image.com/dress.jpeg
                            external_identifier:
                              sku: '1000012'
                              serial_number: '7890'
                              epc: '4567'
                      - id: GD000001235
                        placed_at: '2021-11-20T08:11:39.30Z'
                        channel_type: store
                        origin: external
                        origin_id: GD000001234
                        status: complete
                        currency: USD
                        fulfillment_type: in_store_purchase
                        items:
                          - id: product-df45g6
                            origin_id: b9a144c2-3bd2-4066-983e-b2f2aa07y65d
                            status: complete
                            price:
                              net: 90
                              tax: 9
                              gross: 99
                              discount: 0
                            product_attributes:
                              name: Tote Bag
        '400':
          description: Bad Request Error.
          content:
            application/problem+json:
              example:
                error_code: bad_request
                message: Query param 'customer_id' is required.
                request_id: ec2f3c9bb016ba971bf6074098363
              schema:
                $ref: '#/components/schemas/http_error_response'
        '404':
          description: >-
            Customer not found. Only applicable when ``Accept`` header is
            ``application/json``.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/validation_error_4xx'
              example:
                error_code: customer_not_found
                message: customer with given customer_id not found
                request_id: ec2f3c9bb016ba971bf6074098363
        '409':
          description: >-
            External webhook payload validation failed. Only applicable when
            ``Accept`` header is ``application/json``.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/validation_error_4xx'
              example:
                error_code: conflict
                message: >-
                  Failed JSON schema validation with schema /opt/schema.json.
                  Error: "orders" is a required attribute.
                request_id: ec2f3c9bb016ba971bf6074098363
        '412':
          description: >-
            Webhook configuration error. Only applicable when ``Accept`` header
            is ``application/json``.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/validation_error_4xx'
              example:
                error_code: precondition_error
                message: API Key is required to access external OMS
                request_id: ec2f3c9bb016ba971bf6074098363
        '500':
          description: Internal Server Error.
          content:
            application/problem+json:
              example:
                error_code: internal_server_error
                message: Couldn't process request due to an internal error.
                request_id: ec2f3c9bb016ba971bf6074098363
              schema:
                $ref: '#/components/schemas/http_error_response'
        '503':
          description: External Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/config_error_5xx'
              example:
                error_code: external_server_error
                message: API Key to the webhook is expired
                request_id: ec2f3c9bb016ba971bf6074098363
        default:
          description: Unexpected Error
  /orders/{id}/cancel:
    post:
      summary: Cancel order
      operationId: createCancelOrder
      tags:
        - Manage orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_cancel_order_req'
            example:
              reason: Customer remorse
              note: Example note
      responses:
        '200':
          description: Successfully cancelled order by ID and ID type
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/validation_error_4xx'
              examples:
                bad_request_validation_failed:
                  summary: Validation failed
                  description: |
                    Bad request because the request is not valid.
                  value:
                    error_code: bad_request
                    message: >-
                      Validation of cancel order request failed with error:
                      'reason' is a required property.
                    request_id: ec2f3c9bb016ba971bf6074098363
                order_not_cancelable_any_longer:
                  summary: Order is no longer cancelable.
                  description: >
                    Cancellation is not supported for the type of fulfillment
                    node to which the order was routed.
                  value:
                    error_code: order_not_cancelable_any_longer
                    message: Order GD000001234 or parts of it are already shipped.
                    request_id: ec2f3c9bb016ba971bf6074098363
                order_already_closed:
                  summary: The Order is already marked as closed.
                  description: >-
                    Cancellation is no longer possible as the order is already
                    closed.
                  value:
                    error_code: order_not_cancelable_any_longer
                    message: Order GD000001234 is already closed.
                    request_id: ec2f3c9bb016ba971bf6074098363
                order_cancellation_not_allowed:
                  summary: The Order can't be canceled.
                  description: >
                    Cancellation of this order is not allowed because it was
                    routed to a fulfillment location

                    which doesn't allow cancellation.
                  value:
                    error_code: order_not_cancelable_any_longer
                    message: >-
                      Item 57787cdb-3474-47b5-b3ec-7b776731309e was routed to
                      DC01 (type: dc), cancellations are not allowed from this
                      type of location.
                    request_id: ec2f3c9bb016ba971bf6074098363
        '404':
          description: Order with provided ID and ID type was not found.
        '500':
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/config_error_5xx'
              example:
                error_code: internal_server_error
                message: Couldn't process request due to an internal error.
                request_id: ec2f3c9bb016ba971bf6074098363
        default:
          description: Unexpected Error
      description: >
        Initiates the cancellation of the specified order.


        When using this method to cancel an order, you must specify a reason for
        cancellation,

        such as ``Item was damaged during shipping``. You can also include a
        note to provide a

        longer explanation for the cancellation of the order.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID of the order.
        - in: query
          name: id_type
          required: true
          schema:
            type: string
            x-extensible-enum:
              - external
              - internal
          description: >-
            Type of order id which should be used for cancellation. Example
            "external".
    get:
      summary: Get Cancellation Status
      operationId: showCancellationStatus
      responses:
        '200':
          description: Successfully fetched cancellation status for the order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_cancellation_status_response'
              example:
                cancelable: true
                canceled: false
                is_safe: true
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/validation_error_4xx'
        '404':
          description: Order with given order ID does not exist
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/config_error_5xx'
              example:
                error_code: internal_server_error
                message: Couldn't process request due to an internal error.
                request_id: ec2f3c9bb016ba971bf6074098363
        default:
          description: Unexpected Error
      description: API to get cancellation status by order ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID of the order.
        - in: query
          name: id_type
          required: true
          schema:
            type: string
            x-extensible-enum:
              - external
              - internal
          description: ID type on which order should be fetched. Example "external".
  /orders/{id}/_extend_grace_period:
    post:
      summary: Update grace period
      operationId: createGracePeriod
      tags:
        - Manage orders
      responses:
        '200':
          description: The grace period got extended by 15 minutes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/extend_grace_period_res'
        '404':
          description: Order with id and id type not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/http_error_response'
        '409':
          description: A concurrent request extended the grace period already.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/http_error_response'
        '412':
          description: The order is not in the grace period.
        '500':
          description: Internal Server Error.
          content:
            application/problem+json:
              example:
                error_code: internal_server_error
                message: Couldn't process request due to an internal error.
                request_id: ec2f3c9bb016ba971bf6074098363
              schema:
                $ref: '#/components/schemas/http_error_response'
        default:
          description: Unexpected Error
      description: >
        Use this method to extend the [grace
        period](https://docs.newstore.com/docs/glossary#remorse-period) timer

        for the specified order by **15 minutes**, if the grace period of the
        order has not yet expired.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID of the order.
        - in: query
          name: id_type
          required: true
          schema:
            type: string
            x-extensible-enum:
              - external
              - internal
          description: >-
            Type of the order id which should be used to extend the order grace
            period. Example "external" for human-readable identifiers, and
            "internal" for system-generated UUIDs (by NewStore).
  /orders/{uuid}/serial_numbers:
    patch:
      summary: Add serial numbers to order items
      operationId: updateSerialNumbersForItems
      tags:
        - Manage orders
      requestBody:
        content:
          application/json:
            example:
              items:
                - id: 25802b6c-a66f-4f76-b6bc-f1305468fc12
                  serial_number: SRQFAU79
                - id: 5e3b112d-9cc8-4e5a-ac08-f45f0b8fa67f
                  serial_number: LJTMF3FJ
            schema:
              $ref: '#/components/schemas/patch_serial_numbers_request'
        required: true
      responses:
        '204':
          description: Serial numbers added.
        '400':
          description: Bad request Error.
          content:
            application/problem+json:
              examples:
                JSON schema error:
                  value:
                    error_code: bad_request
                    message: The number of products can't exceed 500.
                    request_id: ec2f3c9bb016ba971bf6074098363
                Sales Order item not found error:
                  value:
                    error_code: sales_order_item_not_found
                    message: >-
                      The sales order item with id
                      ed668d62-c6ac-472f-9c72-24b12739142a cannot be found.
                    request_id: ec2f3c9bb016ba971bf6074098363
                Sales Order UUID not valid:
                  value:
                    error_code: bad_request
                    message: The provided order id abcd is not a valid uuid.
                    request_id: ec2f3c9bb016ba971bf6074098363
              schema:
                $ref: '#/components/schemas/http_error_response'
        '404':
          description: Not found Error.
          content:
            application/problem+json:
              example:
                error_code: not_found
                message: >-
                  The order '57787cdb-3474-47b5-b3ec-7b776731309e' couldn't be
                  found.
                request_id: ec2f3c9bb016ba971bf6074098363
              schema:
                $ref: '#/components/schemas/http_error_response'
        '500':
          description: Internal Server Error.
          content:
            application/problem+json:
              example:
                error_code: internal_server_error
                message: Couldn't process request due to an internal error.
                request_id: ec2f3c9bb016ba971bf6074098363
              schema:
                $ref: '#/components/schemas/http_error_response'
        default:
          description: Unexpected Error
      description: >
        Use this method to add serial numbers to specified items of the order.
        Serial numbers will be overwritten in case

        some or all of the items have already serial numbers attached.


        The maximum number of items in this request cannot exceed **500**,
        otherwise this method will return a ``400`` error.
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
          description: >-
            The internal identifier of the order, for example,
            ``b604ffda-7e31-4338-beab-7f939a8c2322``.
  /orders/{order_uuid}/items/{item_uuid}/cancel:
    post:
      summary: Cancel line items
      operationId: createCancelLineItems
      tags:
        - Cancel line items
      responses:
        '200':
          description: Successfully cancelled order item by UUID.
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/validation_error_4xx'
              examples:
                bad_request_validation_failed:
                  summary: Validation failed
                  description: |
                    Bad request because the request is not valid.
                  value:
                    error_code: bad_request
                    message: >-
                      Validation of cancel order request failed with error:
                      'reason' is a required property.
                    request_id: ec2f3c9bb016ba971bf6074098363
                item_not_cancelable_any_longer:
                  summary: Order item is no longer cancelable.
                  description: |
                    Order item is no longer cancelable.
                  value:
                    error_code: item_not_cancelable_any_longer
                    message: >-
                      Item d6e7c7ea-e6f1-4259-9729-fb880d81bfc1 for order
                      GD10001 cannot be cancelled any longer.
                    request_id: ec2f3c9bb016ba971bf6074098363
                not_preordered:
                  summary: The Order item can't be canceled.
                  description: >
                    Cancellation for this item is not allowed because the item
                    is not pre-ordered.
                  value:
                    error_code: not_preordered
                    message: >-
                      Item 57787cdb-3474-47b5-b3ec-7b776731309e is not
                      pre-ordered.
                    request_id: ec2f3c9bb016ba971bf6074098363
        '404':
          description: Order item with provided UUID was not found.
        '500':
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/config_error_5xx'
              example:
                error_code: internal_server_error
                message: Couldn't process request due to an internal error.
                request_id: ec2f3c9bb016ba971bf6074098363
        default:
          description: Unexpected Error
      description: >
        Use this resource to cancel line items.


        **Note:** 

        1. This API currently only supports pre-ordered line items and will
        throw an error for other line items.

        2. The line item can only be cancelled for non-terminal item statuses.
      parameters:
        - in: path
          name: order_uuid
          required: true
          schema:
            type: string
          description: UUID of the order.
        - in: path
          name: item_uuid
          required: true
          schema:
            type: string
          description: UUID of the order item.
        - in: query
          name: id_type
          required: true
          schema:
            type: string
            x-extensible-enum:
              - external
              - internal
          description: >-
            Type of order id which should be used for cancellation of line
            items. Example "external" for human-readable identifiers, and
            "internal" for system-generated UUIDs (by NewStore).
components:
  securitySchemes:
    newStoreAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    post_prices_request:
      description: The request for retrieving price information.
      type: object
      required:
        - items
      properties:
        items:
          type: array
          minItems: 1
          items:
            type: object
            oneOf:
              - required:
                  - id
                  - type
                properties:
                  type:
                    type: string
                    enum:
                      - product
                  id:
                    type: string
                    minLength: 36
                    maxLength: 36
                    description: The identifier of the item.
              - required:
                  - type
                properties:
                  type:
                    type: string
                    enum:
                      - shipping
                      - gift-wrapping
    price:
      description: The response for retrieving price information.
      type: object
      required:
        - gross
        - net
        - tax
      properties:
        gross:
          type: number
          description: The gross price of the item.
        net:
          type: number
          description: The net price of the item.
        tax:
          type: number
          description: The taxes of the item.
    post_prices_response:
      description: The response for retrieving price information.
      type: object
      required:
        - currency
        - items
      properties:
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: The currency that was used to buy the order, ISO 4217.
        items:
          type: array
          minItems: 1
          items:
            oneOf:
              - type: object
                required:
                  - id
                  - type
                  - price
                  - status
                properties:
                  type:
                    type: string
                    enum:
                      - product
                  id:
                    type: string
                    minLength: 36
                    maxLength: 36
                    description: The identifier of the item.
                  price:
                    $ref: '#/components/schemas/price'
                  status:
                    description: >-
                      The status of a single item, doesn't reflect the order
                      status
                    type: string
                    enum:
                      - complete
                      - cancelled
                      - pending
                      - in_fulfillment
                      - captured
                      - on_hold
              - type: object
                required:
                  - id
                  - type
                  - price
                properties:
                  type:
                    type: string
                    enum:
                      - shipping
                      - gift-wrapping
                  id:
                    type: string
                    minLength: 36
                    maxLength: 36
                    description: The identifier of the item.
                  price:
                    $ref: '#/components/schemas/price'
    http_error_response:
      description: The error response.
      type: object
      required:
        - error_code
        - message
        - request_id
      properties:
        error_code:
          type: string
          minLength: 1
          description: The specific code of the error.
        message:
          type: string
          minLength: 1
          description: A message explaining the error.
        request_id:
          type: string
          minLength: 1
          description: The identifier of the request, which can be used for tracing.
    extended_attributes:
      oneOf:
        - type: array
          maxItems: 100
          items:
            type: object
            required:
              - name
              - value
            maxProperties: 2
            properties:
              name:
                type: string
                maxLength: 100
              value:
                type: string
                maxLength: 8192
        - type: 'null'
    gift_wrapping:
      type: object
      required:
        - price
      properties:
        message:
          type: string
          description: Personalised message to be printing on the gift wrapper.
        price:
          type: object
          required:
            - net
            - tax
            - gross
          properties:
            net:
              type: number
              description: Net price for gift wrapping.
            gross:
              type: number
              description: Gross price for the gift wrapping.
            tax:
              type: number
              description: Tax amount for the gift wrapping
            tax_code:
              type: string
              description: Tax code (also known as tax class) for gift wrapping.
        tax_lines:
          type: array
          description: Detailed tax information.
          maxItems: 100
          items:
            type: object
            required:
              - amount
              - rate
            properties:
              amount:
                type: number
                description: Monetary tax amount for this line.
                minimum: 0
              rate:
                type: number
                description: >-
                  Decimal representation of the tax rate for this line, e.g.
                  6.25
                minimum: 0
              name:
                description: Name of the tax line, e.g. MA Sales Tax.
                type: string
              country_code:
                description: >-
                  The code of the country of the tax in the ISO 3166 ALPHA-2
                  format. For example, GB, DE or US.
                type: string
                maxLength: 2
    sales_order_address:
      type: object
      title: Consumer address
      properties:
        title:
          description: e.g. Dr., Prof., Pres., ...
          type: string
        suffix:
          description: e.g. Jr., Sr., III, ...
          type: string
        salutation:
          description: e.g. Mr., Ms., Mrs., ...
          type: string
        first_name:
          type: string
        second_name:
          type: string
        last_name:
          type: string
        address_line_1:
          type: string
        address_line_2:
          type: string
        province:
          type: string
        state:
          type: string
        zip_code:
          type: string
          maxLength: 32
        city:
          type: string
        country_code:
          description: >-
            Country code for this address. Must be <a
            href='http://www.iso.org/iso/country_codes.htm'>ISO-3166
            reference</a>
          type: string
          enum:
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AU
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CR
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
            - HU
            - ID
            - IE
            - IL
            - IM
            - IN
            - IO
            - IQ
            - IR
            - IS
            - IT
            - JE
            - JM
            - JO
            - JP
            - KE
            - KG
            - KH
            - KI
            - KM
            - KN
            - KP
            - KR
            - KW
            - KY
            - KZ
            - LA
            - LB
            - LC
            - LI
            - LK
            - LR
            - LS
            - LT
            - LU
            - LV
            - LY
            - MA
            - MC
            - MD
            - ME
            - MF
            - MG
            - MH
            - MK
            - ML
            - MM
            - MN
            - MO
            - MP
            - MQ
            - MR
            - MS
            - MT
            - MU
            - MV
            - MW
            - MX
            - MY
            - MZ
            - NA
            - NC
            - NE
            - NF
            - NG
            - NI
            - NL
            - 'NO'
            - NP
            - NR
            - NU
            - NZ
            - OM
            - PA
            - PE
            - PF
            - PG
            - PH
            - PK
            - PL
            - PM
            - PN
            - PR
            - PS
            - PT
            - PW
            - PY
            - QA
            - RE
            - RO
            - RS
            - RU
            - RW
            - SA
            - SB
            - SC
            - SD
            - SE
            - SG
            - SH
            - SI
            - SJ
            - SK
            - SL
            - SM
            - SN
            - SO
            - SR
            - SS
            - ST
            - SV
            - SX
            - SY
            - SZ
            - TC
            - TD
            - TF
            - TG
            - TH
            - TJ
            - TK
            - TL
            - TM
            - TN
            - TO
            - TR
            - TT
            - TV
            - TW
            - TZ
            - UA
            - UG
            - UM
            - US
            - UY
            - UZ
            - VA
            - VC
            - VE
            - VG
            - VI
            - VN
            - VU
            - WF
            - WS
            - YE
            - YT
            - ZA
            - ZM
            - ZW
        phone:
          type: string
        note:
          description: A note to leave remarks on address change.
          type: string
    sales_order_by_id:
      title: Schema for fetching sales order using external ID
      type: object
      required:
        - id
        - origin
        - origin_id
        - placed_at
        - channel_type
        - status
        - currency
        - fulfillment_type
        - items
        - totals
      properties:
        id:
          description: External ID of an order
          type: string
        origin:
          type: string
          enum:
            - newstore
            - external
          minLength: 1
          description: >-
            Describes in which Order Management System the order originated
            from.
        origin_id:
          type: string
          minLength: 1
          description: >-
            The identifier of the order from the Order Management System where
            it originated from. If it originated in Newstore, it is the
            system-generated UUID assigned to the order during the order
            creation process. If it originated in an external OMS, it is the
            human-readable identifier.
        placed_at:
          type: string
          format: date-time
          description: >-
            The time when the order was placed. It should follow
            https://tools.ietf.org/html/rfc3339 in UTC.
        store_id:
          type: string
          minLength: 1
          description: The store id where the order was placed.
        channel_type:
          type: string
          enum:
            - store
            - web
          minLength: 1
          description: The channel through which the order was placed.
        status:
          description: >-
            Current status of the sales order. 'on_hold' means the order is in
            the grace period, 'open' means it is currently being fulfilled,
            'closed' means all items reached a terminal state,
            'created_for_blind_return_means' means a customer returned an item
            in the store without having a reference to the original order, and
            'failed' means order placement failed.
          enum:
            - on_hold
            - open
            - closed
            - created_for_blind_return
            - failed
          type: string
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: Currency code (ISO 4217) used in internal accounting
        fulfillment_type:
          type: string
          enum:
            - traditional
            - same_day_delivery
            - in_store_pickup
            - in_store_purchase
            - multiple
          minLength: 1
          description: >-
            The fulfillment type of the order. In case of mixed cart orders,
            fulfillment type is always 'multiple'
        tax_exempt:
          type: boolean
          description: >-
            If the tax was exempted for this order. In case of external orders,
            the flag will always return false.
        tax_method:
          type: string
          enum:
            - vat_included
            - vat_excluded
          description: >-
            Method of calculation of the taxes, can be vat_included or
            vat_excluded.
        is_offline:
          type: boolean
          description: Set to true if sales order item was created in offline mode.
        items:
          description: Contains a list of order items
          type: array
          items:
            type: object
            required:
              - id
              - origin_id
              - status
              - price
              - product_attributes
            properties:
              id:
                description: Order item UUID
                type: string
              product_id:
                description: Product ID for order item.
                type: string
              origin_id:
                type: string
                minLength: 1
                description: >-
                  If the origin of the order is 'newstore', this should be the
                  order item identifier. If the order originated in an external
                  system, it should be the identifier from the external system.
              status:
                description: >-
                  Current status of the order item. 'pending' means the item is
                  in the grace period, 'on_hold' means the item couldn't be
                  fulfilled and is in a conflict status.
                enum:
                  - pending
                  - in_fulfillment
                  - on_hold
                  - complete
                  - cancelled
                  - returned
                type: string
              price_catalog:
                type: number
                description: The catalog price of the item.
              price:
                type: object
                required:
                  - gross
                  - net
                  - tax
                  - discount
                properties:
                  gross:
                    type: number
                    description: The gross price of the item.
                  net:
                    type: number
                    description: The net price of the item.
                  tax:
                    type: number
                    description: The taxes of the item.
                  discount:
                    type: number
                    description: The applied discount to the item.
                  tax_lines:
                    type: array
                    description: Detailed tax information.
                    maxItems: 100
                    items:
                      type: object
                      required:
                        - amount
                        - rate
                      properties:
                        amount:
                          type: number
                          description: Monetary tax amount for this line.
                          minimum: 0
                        rate:
                          type: number
                          description: >-
                            Decimal representation of the tax rate for this
                            line, e.g. 6.25
                          minimum: 0
                        name:
                          description: Name of the tax line, e.g. MA Sales Tax.
                          type: string
                        country_code:
                          description: >-
                            The code of the country of the tax in the ISO 3166
                            ALPHA-2 format. For example, GB, DE or US.
                          type: string
                          maxLength: 2
              external_identifier:
                description: External identifiers for order item
                type: object
                properties:
                  '*':
                    description: >-
                      Any external identifier as specified in the catalog data,
                      e.g. SKU, EAN and others.
                    type: string
                  serial_number:
                    description: Serial number for order item
                    type: string
                  epc:
                    description: EPC (Electronic Product Code) for order item
                    type: string
              product_attributes:
                type: object
                required:
                  - name
                properties:
                  name:
                    type: string
                    minLength: 1
                    description: The name of the product.
                  size:
                    type: string
                    minLength: 1
                    description: The size of the product.
                  color:
                    type: string
                    minLength: 1
                    description: The color of the product.
                  image_url:
                    type: string
                    format: uri
                    minLength: 1
                    description: The URL to a product image.
                  additional_variant_1:
                    type: string
                    minLength: 1
                    description: A free form field for additional product attributes.
                  additional_variant_2:
                    type: string
                    minLength: 1
                    description: A free form field for additional product attributes.
              discounts:
                type: array
                description: A list of applied discounts
                minLength: 1
                items:
                  type: object
                  required:
                    - level
                    - value
                    - price_adjustment
                    - type
                  properties:
                    level:
                      type: string
                      enum:
                        - item
                        - order
                      description: >-
                        On which level the discount was applied, either on the
                        entire order or only on this item.
                    value:
                      type: number
                      minimum: 0
                      description: >-
                        If the discount is of type 'fixed', this is equal to the
                        adjusted price amount. If the discount is of type
                        'percentage', this is the percentage, e.g. 20%.
                    price_adjustment:
                      type: number
                      minimum: 0
                      description: The applied discount.
                    type:
                      type: string
                      enum:
                        - fixed
                        - percentage
                      description: >-
                        The type of the discount, either 'fixed' or
                        'percentage'.
                    reason:
                      type: string
                      description: The reason of the discount.
                    coupon_code:
                      type: string
                      description: The coupon code used for this discount.
                    promotion_uuid:
                      type: string
                      description: The UUID of the the discount.
              extended_attributes:
                $ref: '#/components/schemas/extended_attributes'
              fulfillment_group_type:
                description: The method by which the item was or will be fulfilled
                enum:
                  - IN_STORE_HANDOVER
                  - SHIPPING
              shipping_method:
                description: The shipping method, if applicable
                type: string
              addon_parent_item_id:
                description: Represents the ID of this addon item parent.
                type: string
        gift_wrapping:
          type: object
          description: >-
            Gift wrapping information. This field is not required and will not
            be present if gift wrapping is not applicable for the order
          $ref: '#/components/schemas/gift_wrapping'
        customer:
          type: object
          properties:
            id:
              type: string
              minLength: 1
              description: The identifier of the customer.
            name:
              type: string
              minLength: 1
              description: The full name of the customer.
            email:
              type: string
              format: email
              minLength: 1
              description: The email address of the customer.
            language:
              description: >-
                The code of the language to be used in communicating with the
                customer in ISO 639-1 format, e.g. fr, de or en.
              type: string
              maxLength: 2
        totals:
          type: object
          required:
            - gross
            - net
            - tax
            - total
            - discount
            - shipping
          properties:
            gross:
              type: number
              description: >-
                The gross price of the order, is the sum of all product item
                gross prices.
            net:
              type: number
              description: >-
                The net price of the order, is the sum of all product item net
                prices.
            tax:
              type: number
              description: The taxes of the order, is the sum of all product item taxes.
            total:
              type: number
              description: >-
                The total amount that the customer paid including shipping
                costs, taxes, gift_wrapping and any discounts.
            discount:
              type: number
              description: The applied discount to the entire order.
              minimum: 0
            shipping:
              type: number
              description: The shipping amount.
            gift_wrapping:
              type: number
              description: The amount paid for gift wrapping.
        payment_history:
          type: array
          minItems: 1
          required:
            - category
            - amount
            - currency
            - method
          items:
            type: object
            description: >-
              Contains the payments/refunds history for the order. Can also
              include multiple payments against multiple credit sources (i.e.
              gift card + credit card)
            properties:
              category:
                type: string
                description: >-
                  Describes if it is a Payment (authorization or capture) or
                  Refund.
                enum:
                  - payment
                  - refund
              amount:
                type: number
                description: The monetary value of the payment/refund.
                minimum: 0
              currency:
                description: >-
                  The currency of the amount as 3 character ISO-4217 code.
                  Example USD, EUR.
                maxLength: 3
                minLength: 3
                type: string
              method:
                description: The method customer paid for the order.
                type: string
                enum:
                  - gift_card
                  - credit_card
                  - cash
              payment_information:
                type: string
                description: >-
                  Any payment information related to the payment method used.
                  For example, it can contain the card type along with the last
                  4 digits of the credit card number.
                example: Visa (**** 1111)
          description: >-
            Note: This field will be empty if a NewStore internal order is
            requested. This field is only set when the order is fetched from an
            external source.
        shipments:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - id
              - price
            properties:
              id:
                description: Order item UUID of the shipment
                type: string
              price:
                type: object
                $ref: '#/components/schemas/price'
              tax_lines:
                type: array
                description: Detailed tax information.
                maxItems: 100
                items:
                  type: object
                  required:
                    - amount
                    - rate
                  properties:
                    amount:
                      type: number
                      description: Monetary tax amount for this line.
                      minimum: 0
                    rate:
                      type: number
                      description: >-
                        Decimal representation of the tax rate for this line,
                        e.g. 6.25
                      minimum: 0
                    name:
                      description: Name of the tax line, e.g. MA Sales Tax.
                      type: string
                    country_code:
                      description: >-
                        The code of the country of the tax in the ISO 3166
                        ALPHA-2 format. For example, GB, DE or US.
                      type: string
                      maxLength: 2
              discounts:
                type: array
                description: A list of applied discounts
                minLength: 1
                items:
                  type: object
                  required:
                    - level
                    - value
                    - price_adjustment
                    - type
                  properties:
                    level:
                      type: string
                      enum:
                        - shipping
                      description: >-
                        On which level the discount was applied, either on the
                        entire order or only on this item.
                    value:
                      type: number
                      minimum: 0
                      description: >-
                        If the discount is of type 'fixed', this is equal to the
                        adjusted price amount. If the discount is of type
                        'percentage', this is the percentage, e.g. 20%.
                    price_adjustment:
                      type: number
                      minimum: 0
                      description: The applied discount.
                    type:
                      type: string
                      enum:
                        - fixed
                        - percentage
                      description: >-
                        The type of the discount, either 'fixed' or
                        'percentage'.
        extended_attributes:
          $ref: '#/components/schemas/extended_attributes'
        shop_locale:
          description: The locale used for the shop, in RFC 5646.
          type: string
        billing_address:
          description: Consumer's billing address
          $ref: '#/components/schemas/sales_order_address'
        shipping_address:
          description: Consumer's shipping address
          $ref: '#/components/schemas/sales_order_address'
        notification_blacklist:
          type: array
          items:
            type: string
            description: >-
              The notification name. Each notification name included here must
              be an exact match of the name used in the notification
              configuration. Example: 'same_day_delivery.estimate_changed'.
          description: >-
            Excludes the specified notifications from being sent to the
            customer.
    validation_error_4xx:
      title: Internal error response while getting config
      type: object
      required:
        - error_code
        - message
        - request_id
      properties:
        error_code:
          type: string
          description: Error code
        message:
          type: string
          description: A human readable description of the error
        request_id:
          type: string
    config_error_5xx:
      title: Internal error response while getting config
      type: object
      required:
        - message
        - request_id
      properties:
        message:
          type: string
          description: A human readable description of the error
        request_id:
          type: string
    order_history:
      title: Order history for a customer retrieved from NewStore OMS
      type: object
      required:
        - orders
        - pagination_info
      properties:
        pagination_info:
          type: object
          description: Pagination information for the order history response.
          required:
            - count
            - offset
            - total
          properties:
            count:
              type: integer
              description: Contains the count of returned elements.
            offset:
              type: integer
              description: Contains the current offset.
            total:
              type: integer
              description: Total amount of the items for given filters set.
        orders:
          description: >-
            Contains the list of orders for the customer with the given
            ``customer_id``.
          type: array
          items:
            type: object
            required:
              - id
              - origin
              - origin_id
              - channel
              - placed_at
              - status
              - currency
[...]
